
.add-team-member {
  display: flex;
  flex-direction:column;
  min-width: 500px;
  padding: 0 20px 20px 20px;
}

.toolbar {
  display: flex;
}

.license-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}

.more-licenses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
