<div class="container">

  <div class="file-upload-container noselect" [ngStyle]="containerStyles()">

    <ng-container *ngIf="!processing; else processingSpinner">

      <div class="editable-image noselect" (click)="fileUpload.click()"
           [ngClass]="stateClasses()"
           [ngStyle]="editableImageStyles()"
           (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">


        <img class="empty-image noselect" [src]="EMPTY_IMG" *ngIf="!this.src">

        <input class="file-upload noselect" type="file"
               (change)="onFileSelected($event)" [accept]="accept" #fileUpload>

        <div class="edit-image-control noselect" *ngIf="editMode">
          <mat-icon>mode_edit</mat-icon>
        </div>

      </div>

    </ng-container>

    <ng-template #processingSpinner>

      <mat-spinner class="processing-ongoing"></mat-spinner>

    </ng-template>

  </div>

  <div class="delete-file noselect" *ngIf="allowDelete && src" (click)="onDelete()">

    <mat-icon >delete</mat-icon>

  </div>


</div>

