

@import "../mixins";
@import "../vars";

.container {
  display: flex;
  align-items: flex-end;

}

.file-upload-container {
  display: flex;
  align-items: flex-end;
  background-color: rgb(232, 238, 241);
}

.editable-image {
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  @include centered-parent;
}



.edit-image-control {
  @include centered-child;
  z-index: 10;
  display: flex;
  align-items: center;
  @include mat-icon-size(38px);
  color: black;
}

.processing-ongoing {
  margin: auto;
}


.edit-mode {
  opacity: 0.5;
  cursor: pointer;
}


.file-upload {
  position: absolute;
  cursor: pointer;
  display: none;
}

.empty-image {
  height: 80px;
  @include centered-child;
}

.delete-file {
  cursor: pointer;
  margin-left: 10px;
  @include mat-icon-size(30px);
  color: $dark-text;

}
