<div class="file-upload-container" (click)="fileUpload.click()">

  <div class="editable-image mat-elevation-z4"
       [ngClass]="stateClasses()"
       [ngStyle]="styles()"
       (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    <input class="file-upload" type="file" [ngStyle]="fileUploadStyles()"
           (change)="onFileSelected($event)" [accept]="accept" #fileUpload>

    <div class="edit-image-control" *ngIf="editMode">
      <mat-icon>mode_edit</mat-icon>
    </div>

  </div>

</div>


