<div class="file-upload-container" [ngStyle]="containerStyles()">

    <ng-container *ngIf="!processing; else processingSpinner">

      <div class="editable-image" (click)="fileUpload.click()"
           [ngClass]="stateClasses()"
           [ngStyle]="editableImageStyles()"
           (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">


        <input class="file-upload" type="file" [ngStyle]="fileUploadStyles()"
               (change)="onFileSelected($event)" [accept]="accept" #fileUpload>

        <div class="edit-image-control" *ngIf="editMode">
          <mat-icon>mode_edit</mat-icon>
        </div>

      </div>

    </ng-container>

    <ng-template #processingSpinner>

        <mat-spinner class="processing-ongoing"></mat-spinner>

    </ng-template>

</div>


