

@import "../mixins";

.editable-image-container {
  display: flex;
  align-items: flex-end;
}

.editable-image {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}



.edit-image-control {
  display: flex;
  align-items: center;
  @include mat-icon-size(50px);
  color: black;
}

.edit-mode {
  opacity: 0.5;
  cursor: pointer;
}


.file-upload {
  position: absolute;
  cursor: pointer;
  display: none;
}
