<ng-container *ngIf="(homePageContent$ | async) as content">

  <h2 mat-dialog-title>Edit Home Page Header</h2>

  <messages></messages>

  <loading></loading>

  <mat-dialog-content [formGroup]="form">

    <div class="image-label">
      Edit Home Page Title
    </div>

    <quill-editor
      class="title-editor"
      [formControl]="form.controls['title']"
      [modules]="editorConfig"
      [style]="{height: '100px'}"
      placeholder="Type here the page title...">

    </quill-editor>

    <div class="image-label">
      Choose logo
    </div>

    <file-upload class="banner-image mat-elevation-z4"
                 [src]="content.logoImageUrl"
                 [processing]="false"
                 [allowDelete]="true"
                 accept="image/*"
                 (fileSelected)="onLogoSelected($event, content)"
                 height="150px" width="150px"
                  (fileDeleted)="onImageDeleted('logo', content)">

    </file-upload>

    <file-upload-progress
      [upload$]="logoPercentageUpload$"
      width="450px"
      (cancel)="onLogoCancelUpload()">

    </file-upload-progress>

    <div class="image-label">
      Choose background banner
    </div>

    <file-upload class="logo-image mat-elevation-z4"
                 [src]="content.bannerImageUrl"
                 [processing]="false"
                 [allowDelete]="true"
                 accept="image/*"
                 (fileSelected)="onBannerSelected($event, content)"
                 width="450px" height="150px"
                 (fileDeleted)="onImageDeleted('banner', content)">

    </file-upload>

    <file-upload-progress
      [upload$]="bannerPercentageUpload$"
      width="450px"
      (cancel)="onBannerCancelUpload()">

    </file-upload-progress>

  </mat-dialog-content>

  <mat-dialog-actions class="dialog-actions">

    <button mat-raised-button color="primary" (click)="save(content)" [disabled]="!form.valid">Save</button>

    <button class="mat-raised-button" (click)="close()">Close</button>

  </mat-dialog-actions>

</ng-container>
