<h2 mat-dialog-title>Edit Home Page Header</h2>

<messages></messages>

<loading></loading>

<mat-dialog-content [formGroup]="form">

  <mat-form-field class="edit-title" appearance="standard">

    <input matInput placeholder="Edit page title..." formControlName="title">

  </mat-form-field>

  <div class="image-label">
    Choose logo
  </div>

  <file-upload class="banner-image mat-elevation-z4"
               src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
               [processing]="false"
               accept="image/*" (fileSelected)="onLogoSelected($event)" height="150px" width="150px">

  </file-upload>

  <div class="image-label">
    Choose background banner
  </div>

  <file-upload class="logo-image mat-elevation-z4" src="https://angular-academy.s3.amazonaws.com/banner-small.jpg"
               [processing]="false"
               accept="image/*" (fileSelected)="onBannerSelected($event)" width="100%" height="150px">

  </file-upload>

  <file-upload-progress
    [upload$]="bannerPercentageUpload$"
    width="450px"
    (cancel)="onBannerCancelUpload()">

  </file-upload-progress>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

  <button mat-raised-button color="primary" (click)="save()" [disabled]="!form.valid">Save</button>

  <button class="mat-raised-button" (click)="close()">Close</button>

</mat-dialog-actions>



