
@import "../mixins";

@include single-col-dialog();

:host {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.title-editor {
  margin-bottom: 20px;
}

.edit-title {
  width: 100%;
}

.benefit-title {
  width:100%;
}

.image-label {
  margin-bottom: 10px;
}

.banner-image {
  margin-bottom: 30px;
}

file-upload-progress {
  min-height: 30px;
  margin-top: 5px;
}
