
@import "../vars";
@import "../mixins";

.mini-action-button {
  @include mat-icon-size(17px);
}

button {
  width: 28px;
  height: 28px;
  mat-icon {
    font-size: 17px;
    margin-top: -14px;
  }
}

