service cloud.firestore {

  match /databases/{database}/documents {

    //
    // returns true if a given user is an Admin-level user in a specific tenant website.
    //
    // This admin could be either the tenant himself or some other user with the admin role.
    //

    function isAdmin(tenantId) {
      return request.auth.token.tenantId == tenantId && request.auth.token.isAdmin == true;
    }

    function isCurrentUser(uid) {
      return request.auth.uid == uid;
    }

    match /tenants/{tenantId} {

      allow read: if true;

      // from the UI, only allow creation of new (and still free) tenants
      allow create: if request.auth.uid != null && request.resource.data.status == 'new';

      // only the tenant can modify its own data
      allow update: if isCurrentUser(tenantId);

    }

    match /tenantSettings/{tenantId} {

      // only the tenant himself (and not other admins) can both read and edit his own settings, this is private data
      allow read,write: if isCurrentUser(tenantId);

      match /{document=**} {
        allow read,write: if isCurrentUser(tenantId);
      }

    }

    match /schools/{tenantId}/courses/{courseId}  {

        // all course data is public
        allow read: if true;

        // only admins of a given online school can modify the courses of that particular school
        allow write: if isAdmin(tenantId);

        match /sections/{sectionId} {

          // everything is public
          allow read: if true;

          // but only admins can modify
          allow write, delete: if isAdmin(tenantId);

        }

        match /lessons/{lessonId} {

          // everything is public
          allow read: if true;

          // but only admins can modify
          allow write, delete: if isAdmin(tenantId);

        }

        match /videos/{lessonId} {

          // only a Firebase Could Function can read this
          allow read: if false;

          // only admins can modify
          allow write, delete: if isAdmin(tenantId);

        }

        // even admins can only delete draft courses, to avoid accidentally deleting a whole course
        allow delete: if isAdmin(tenantId) && resource.data.status == 'draft';

    }

    match /schools/{tenantId}/descriptions/{courseId}  {

        // all text descriptions are public info
        allow read: if true;

        // only tenants can edit descriptions
        allow write, delete: if isAdmin(tenantId);

    }

    match /schools/{tenantId}/users/{uid}  {

        // user data is only visible by admins or the user himself
        allow read: if isAdmin(uid) || isCurrentUser(uid);

        // only admins or the user himself can create or edit the data of a given user
        allow write: if isAdmin(tenantId)  || isCurrentUser(uid);

    }

    match /schools/{tenantId}/userCourses/{uid}  {

        // the user purchased courses are only visible by admins or the user himself
        allow read: if isAdmin(uid) || isCurrentUser(uid);

        // only admins can add purchased courses to a user, the user himself cannot do that
        allow write: if isAdmin(tenantId);

    }


  }

}
