
<h4 class="title">Edit Plan Features</h4>

<div class="add-feature-field">

  <div class="label">Add Feature:</div>

  <input placeholder="Type new feature + Enter" maxLength="60" class="add-feature" (keyup.enter)="onAdd(input, input.value)" #input>

</div>


<div class="features-container drag-drop-container" cdkDropList (cdkDropListDropped)="dropFeature($event)">

  <div class="feature-row drag-drop-item" *ngFor="let feature of features; let i = index" cdkDrag>

    <div class="icon-cell move-cell">
      <mat-icon class="draggable" cdkDragHandle matTooltip="Move this item up or down">drag_handle</mat-icon>
    </div>

    <div class="icon-cell">
      <mat-icon (click)="onDelete(i)" matTooltip="Delete this item" >delete</mat-icon>
    </div>


    <div>
       {{feature}}
    </div>



  </div>

</div>



