
@import "../mixins";

:host {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.title {
  margin-top: 0;
}

.add-feature-field {
  margin-left: 10px;
  .label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .add-feature {
    width: 300px;
    border-radius: 4px;
    height: 20px;
  }

}

.features-container {
  margin-top: 25px;
}

.feature-row {
  display: flex;
  min-height: 40px;
  border-bottom: 1px solid rgba(0,0,0,.12);
  align-items: center;
}




.move-cell {
  mat-icon {
    margin-right: 5px;
  }
}

.icon-cell {
  display: flex;
  @include mat-icon-size(18px);
  opacity:0.75;
  min-width: 30px;
  mat-icon {
    cursor: pointer;
  }
}

.delete-cell {
  justify-content: flex-end;
}

@include drag-drop;
