<div class="faq-section">

  <h1 class="page-title">FAQ</h1>

  <mat-divider *allowRole="'ADMIN'"></mat-divider>

  <div class="faq" *ngFor="let faq of faqs">

    <div class="faq-question" [innerHtml]="faq.question">
    </div>

    <div class="faq-answer" [innerHtml]="faq.answer">
    </div>

    <div class="faq-tools">

      <mini-action-button icon="mode_edit" *allowRole="'ADMIN'"></mini-action-button>

      <mini-action-button icon="delete" *allowRole="'ADMIN'" color="basic"></mini-action-button>

    </div>

  </div>

  <mat-divider *allowRole="'ADMIN'"></mat-divider>

  <div class="add-faq" *allowRole="'ADMIN'">

    <action-button text="Add new FAQ" color="accent" icon="add"></action-button>

  </div>

</div>
