<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>

  <messages></messages>

  <b>WARNING:</b> <span>This operation cannot be reversed. </span>

  <div class="instructions">Type <b>{{confirmationCode}}</b> in the box below to confirm:</div>

  <mat-form-field color="warn" class="confirmation">
    <input matInput
           placeholder="Type confirmation code"
           #input>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

  <button class="mat-raised-button"
          (click)="cancel()">
    Close
  </button>

  <button class="mat-raised-button mat-warn"
          (click)="confirm(input.value)">
    Confirm
  </button>

</mat-dialog-actions>


