

:host {
  width: 100%;
  display: flex;
  padding-top: 63px;
}

.autoplay {
  margin: 10px 0 20px 20px;
}

.content-container {

}


.playlist {
  padding-top: 15px;
  min-width: 550px;
  overflow-y: scroll;
}


.video-panel {
  flex-grow: 1;
  max-height: 550px;
}
