

:host {
  width: 100%;
  display: flex;
  padding-top: 63px;
}

.autoplay {
  margin: 10px 0 20px 20px;
}

.content-container {

}


.playlist {
  padding: 15px 10px;
  min-width: 550px;
  overflow-y: scroll;
}


.video-panel {
  flex-grow: 1;
  max-height: 550px;
}


.lesson-video {

}


.questions {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.search-questions {
  margin-bottom: 40px;
}

.ask-question-button {
  font-size: 20px;
  margin: 75px 0 75px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .button-text {
    margin-right: 5px;
  }

}
