<div class="watch-course" *ngIf="(course$| async) as course">

  <div class="content-container" *ngIf="(lessons$ | async) as lessons">

    <div class="playlist" *ngIf="leftMenuOpened">

      <mat-slide-toggle
        color="primary"
        class="autoplay"
        [(ngModel)]="autoPlay"
        (change)="onAutoPlayChange()">
        Autoplay
      </mat-slide-toggle>

      <ng-container *ngIf="(activeLesson$ | async) as activeLesson">

        <course-content
          [playlistMode]="true"
          [course]="course"
          [sections]="sections$ | async"
          [lessons]="lessons"
          [lessonsWatched]="lessonsWatched$ | async"
          [activeLesson]="activeLesson">

        </course-content>

      </ng-container>

    </div>

    <div class="video-panel" *ngIf="(activeLesson$ | async) as activeLesson">

      <ng-container *ngIf="(activeLessonVideoAccess$ | async) as videoAccess">

        <video-player *ngIf="videoAccess.status == 'allowed'; else videoNotAllowed"
                      #videoPlayer
                      class="lesson-video"
                      [url]="videoAccess.videoSecretUrl"
                      [videoDuration]="activeLesson.videoDuration"
                      (close)="toggleLeftMenu()"
                      (open)="toggleLeftMenu()"
                      (exit)="onExit(course)"
                      (videoEnded)="onVideoEnded(lessons, activeLesson)"
                      (videoWatched)="onVideoWatched(course, activeLesson)">

        </video-player>

        <ng-template #videoNotAllowed>

          <p>TODO - user cannot watch video.</p>

        </ng-template>

      </ng-container>

    </div>

  </div>

</div>
