
<div class="watch-course" *ngIf="(course$| async) as course">

    <div class="content-container">

      <course-content class="playlist"
                      [playlistMode]="true"
                      [course]="course"
                      [sections]="sections$ | async"
                      [lessons]="lessons$ | async"
                      [activeLesson]="activeLesson$ | async"
                      *ngIf="leftMenuOpened">

      </course-content>

      <div class="video-panel" *ngIf="(activeLesson$ | async) as lesson">

        <video-player
            class="lesson-video"
            [url]="ub.buildLessonVideoUrl(course, lesson)"
            (close)="toggleLeftMenu()"
            (open)="toggleLeftMenu()"
            (exit)="onExit(course)">

        </video-player>

      </div>

    </div>

</div>
