
<div class="watch-course" *ngIf="(course$| async) as course">

    <div class="content-container">

      <div class="playlist" *ngIf="leftMenuOpened">

        <mat-slide-toggle color="primary" class="autoplay">Autoplay</mat-slide-toggle>

        <course-content
          [playlistMode]="true"
          [course]="course"
          [sections]="sections$ | async"
          [lessons]="lessons$ | async"
          [activeLesson]="activeLesson$ | async">

        </course-content>

      </div>



      <div class="video-panel" *ngIf="(activeLesson$ | async) as lesson">

        <video-player
            class="lesson-video"
            [url]="ub.buildLessonVideoUrl(course, lesson)"
            [videoDuration]="lesson.videoDuration"
            (close)="toggleLeftMenu()"
            (open)="toggleLeftMenu()"
            (exit)="onExit(course)">

        </video-player>

      </div>

    </div>

</div>
