@import "../mixins";
@import "../vars";

@include single-col-dialog();


.course-path-example {
  font-size: 17px;
  font-family: $fonts;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-label {
 display: flex;
  flex-direction: row;;
  margin-bottom: 15px;
}

.example-url {
  font-size: 15px;
  max-width: 500px;
  overflow-wrap: break-word;
}
