
<div class="large-button-container add-question-btn" *ngIf="!showAnswers">
  <span class="button-text">Ask a New Question:</span>
  <button mat-fab color="accent" (click)="askNewQuestion()">
    <mat-icon>add</mat-icon>
  </button>
</div>


<div class="questions-list" *ngIf="questions?.length > 0; else noQuestions">

  <div *ngIf="!showAnswers">

    <div class="container mat-elevation-z7">

      <div class="item" *ngFor="let question of questions">

        <div class="item-body">

          <img class="user-picture" [src]="question.userPictureUrl">

          <div class="details">

            <div (click)="openAnswers(question)">

              <div class="title">{{question.title}}</div>
              <div class="user-details">
                <span class="display-name">{{question.userDisplayName}} - </span>
                <span class="timestamp">a day ago</span>
              </div>

              <div class="text-block" [innerHTML]="question.questionText"></div>

            </div>

          </div>

          <div class="filler"></div>

          <div class="stats" matTooltip="number of replies">
            <span class="replies-count">{{question.repliesCount}}</span>
            <mat-icon>chat_bubble</mat-icon>
          </div>

        </div>

        <div class="bottom-toolbar">
          <button mat-raised-button color="primary">
            <mat-icon>arrow_forward_ios</mat-icon>
            View Answers
          </button>
          <div class="filler"></div>
          <action-button icon="delete" color="basic" matTooltip="Delete question"></action-button>
          <action-button icon="mode_edit" color="basic" matTooltip="Edit question"></action-button>
          <action-button text="Add answer" icon="add" color="accent"></action-button>
        </div>



      </div>

    </div>

    <div class="bottom-toolbar">
      <button mat-raised-button color="primary">Load More</button>
    </div>

  </div>

  <div class="answers" *ngIf="showAnswers">

    <button class="back-button" mat-raised-button color="primary" (click)="backToQuestions()">
      <mat-icon>arrow_back_ios</mat-icon>
      Back to Questions
    </button>

    <div class="container mat-elevation-z7">

      <div class="item" *ngFor="let answer of (answers$ | async)">

        <div class="item-body">


          <img class="user-picture" [src]="selectedQuestion.userPictureUrl">

          <div class="details">

            <div class="title">{{selectedQuestion.title}}</div>

            <div class="data">

              <span class="display-name">{{answer.userDisplayName}}</span>

              <span class="timestamp">a day ago</span>

            </div>

            <div class="text-block" [innerHTML]="answer.answerText"></div>

          </div>

        </div>

      </div>

    </div>

    <div class="large-button-container add-answer-btn">
      <span class="button-text">Add a new Answer:</span>
      <button mat-fab color="accent" (click)="addNewAnswer()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>

</div>

<ng-template #noQuestions>

  <div class="no-content mat-elevation-z7">

    <span>No questions asked yet about this lesson.</span>

  </div>

</ng-template>


