
<div class="large-button-container add-question-btn">
  <span class="button-text">Ask a New Question:</span>
  <button mat-fab color="accent" (click)="askNewQuestion()">
    <mat-icon>add</mat-icon>
  </button>
</div>


<div class="questions-list" *ngIf="questions?.length > 0; else noQuestions">

  <div>

    <div class="container">

      <questions-list-item
        *ngFor="let question of questions"
        [question]="question"></questions-list-item>

    </div>

    <div class="load-more">
      <button mat-raised-button color="primary">Load More Questions</button>
    </div>

  </div>

</div>

<ng-template #noQuestions>

  <div class="no-content mat-elevation-z7">

    <span>No questions asked yet about this lesson.</span>

  </div>

</ng-template>


