<div class="questions-list" *ngIf="questions?.length">

  <div class="question" *ngFor="let question of questions">

    <img class="user-picture" [src]="question.userPictureUrl">

    <div class="question-details">

      <div (click)="openAnswers(question)">

        <div class="question-title">{{question.title}}</div>

        <div class="question-summary" [innerHTML]="question.questionText"></div>

      </div>

      <div class="question-data">

        <span>{{question.userDisplayName}}</span>

        <a href="javascript:void(0)" (click)="goToLecture()">Go to Lecture</a>

        <span class="timestamp">a day ago</span>

      </div>

    </div>

    <div class="filler"></div>

    <div class="question-stats" matTooltip="number of replies">
      <span class="replies-count">{{question.repliesCount}}</span>
      <mat-icon>chat_bubble</mat-icon>
    </div>

  </div>

  <div class="bottom-toolbar">
    <button mat-raised-button color="primary">Load More</button>
  </div>

</div>



