

.filler {
  flex: 1 1 auto;
}


.draggable {
  cursor: move !important;
}

.desktop-container {
  min-width: 1000px;
  padding-top: 140px;
}

.slim-page {
  min-width: 700px;
  padding-top: 140px;
}

.form-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}




.page-title {
  display: flex;
  justify-content: center;
  color: rgba(42, 48, 46, 0.87);
}

.page-section {
  display: flex;
  justify-content: center;
  align-content: center;
}


.section-label {
  margin-bottom: 10px;
  margin-top: 30px;
}


.dialog-actions {
  display:flex;
  justify-content: flex-end;
}



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.tab-container {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin:10px;
  padding: 30px;
}

.add-button-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 10px 10px;

}

.add-button-panel button {
  margin-top: 20px;
}



.controls-form {
  display: flex;
  flex-direction: column;

}

.controls-form .toggle-command {
  margin-bottom: 20px;
}

.form-buttons button {
  margin-left: 10px;
}

.form-field-error {
  color: #f44336;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.field-hint {
  font-family: 'Roboto', 'Helvetica', sans-serif;;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
}

mat-divider.divider {
  margin-top: 20px;
}

.no-content {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 10px 0 10px;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.spinner-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: $cdk-overlay-dark-backdrop-background;
  z-index: 2000;
}


.text-box {
  border-radius: 4px;
  background: #dcdcdc;
  padding: 15px;
  font-size: 16px;
  color: rgba(26,35,38,.8);
  line-height: 25px;
  display: flex;
  .edit-button{
    align-self: flex-end;
  }
}


mat-card.card-section {
  padding: 0;
  margin-bottom: 30px;
  & mat-card-content {
    padding: 16px;
  }
}

.warning {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Roboto', 'Helvetica', sans-serif;

  .material-icon {
    margin-right: 10px;
  }
}


















.lesson-row {
  display: flex;
  align-items: center;
  min-height: 48px;
  border-top: 1px solid rgba(0,0,0,.12);
  color: rgba(26,35,38,.8);
  cursor: pointer;
  outline: none;
}

.lesson-row:hover {
  background: #f2f3f5;
  border-top-color: #f2f3f5;
}

.lesson-icon {
  margin-left: 25px;
  flex: 0 0 35px;
  color: rgba(22, 28, 26, 0.87);
  display: flex;
}
.lesson-list-icon {
  max-height: 30px;
  margin-right: 5px;
}

.lesson-number {
  flex: 0 0 20px;
}

.lesson-pro {
  flex: 0 0 25px;
}

.lesson-duration {
  flex: 0 0 55px;
  margin-left: 10px;
}

.lesson-viewed {
  margin-right: 25px;
}

.pro-icon {
  color: #fff;
  background: #0280e2;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  width: 20px;
  height: 20px;
}


$active-row-background: #05677d;



.lesson-row.active-lesson {
  background: $active-row-background;
  color:white;

  .lesson-icon {
    color:white;
  }

  ::ng-deep .lesson-viewed .mat-checkbox-frame {
    border-color: white;
  }

}


.lesson-row.active-lesson:hover {
  background: $active-row-background;
  border-top-color: $active-row-background;
  color:white;
}
