
@import "../vars";
@import "../mixins";



.no-courses {
  background: $secondary-light;
  min-height: 350px;
}



.new-course-button {
  font-size: 20px;
  margin: 75px 0 75px 0;

  .button-text {
    margin-right: 5px;
  }

}


@include drag-drop;
