<div class="desktop-container">

  <ng-container *ngIf="data$ | async as data">

    <ng-container *allowRole="'ADMIN'">

      <div class="page-section">

        <div class="new-course-button">
          <span class="button-text">Create New Course:</span>
          <button mat-fab color="accent" (click)="addNewCourse(data.allCourses.length)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <mat-divider></mat-divider>

    </ng-container>

    <ng-container *ngIf="showAllCourses(data)">

      <div *ngIf="displayedCourses(data)?.length > 0; else noCourses">

        <h1 class="page-title">All Courses</h1>

        <mat-grid-list cols="2">
          <mat-grid-tile *ngFor="let course of displayedCourses(data);let first= first; let last = last">
            <course-card
              [course]="course"
              [first]="first"
              [last]="last"
              (moveDown)="onCourseMovedDown(data.allCourses, course)"
              (moveUp)="onCourseMovedUp(data.allCourses, course)">

            </course-card>
          </mat-grid-tile>
        </mat-grid-list>

      </div>

      <ng-template #noCourses>

        <div class="no-content no-courses mat-elevation-z7" *denyRole="'ADMIN'">

          <span>No courses available yet.</span>

        </div>


        <div class="no-content no-courses mat-elevation-z7" *allowRole="'ADMIN'">

          <span>No courses yet, let's create one.</span>

        </div>

      </ng-template>

    </ng-container>

    <ng-container *ngIf="showMyCourses(data)">

      <ng-container *ngIf="data.userCourses?.length > 0">

        <h1 class="page-title"> My Courses</h1>

        <mat-grid-list cols="2">
          <mat-grid-tile *ngFor="let course of data.userCourses">
            <course-card [course]="course"></course-card>
          </mat-grid-tile>
        </mat-grid-list>

      </ng-container>

      <ng-container *ngIf="availableCourses(data.allCourses, data.userCourses) as unpurchasedCourses">

        <ng-container  *ngIf="unpurchasedCourses.length > 0">

          <mat-divider></mat-divider>

          <h1 class="page-title"> Get These Courses - Lifetime Access</h1>

          <mat-grid-list cols="2">
            <mat-grid-tile *ngFor="let course of unpurchasedCourses">
              <course-card [course]="course"></course-card>
            </mat-grid-tile>
          </mat-grid-list>

        </ng-container>

      </ng-container>

    </ng-container>

  </ng-container>

</div>










