

<div class="page-section">

  <div class="new-course-button">
    <span>Create New Course:</span>
    <button mat-fab color="accent" (click)="addNewCourse()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<mat-divider></mat-divider>

<h1 class="page-title"> All Courses</h1>




<mat-grid-list cols="2" class="desktop-container">
  <mat-grid-tile>
    <mat-card class="mat-elevation-z10 course-card">
      <mat-card-header>
        <mat-card-title>Angular for Beginners</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://angular-academy.s3.amazonaws.com/thumbnails/angular2-for-beginners-small-v2.png">
      <mat-card-content>
        <p>
          Establish a solid layer of fundamentals, learn what's under the hood of Angular.
        </p>
      </mat-card-content>
      <mat-card-actions class="course-actions">
        <button mat-button class="mat-raised-button mat-primary" routerLink="/courses/1">VIEW COURSE</button>
        <button mat-button class="mat-raised-button mat-accent" routerLink="/courses/1/edit">EDIT</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="mat-elevation-z10 course-card">
      <mat-card-header>
        <mat-card-title>The Complete Typescript Course</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://angular-academy.s3.amazonaws.com/thumbnails/typescript-2-small.png">
      <mat-card-content>
        <p>
          Complete Guide to Typescript From Scratch: Learn the language in-depth and use it to build a Node REST API.
        </p>
      </mat-card-content>
      <mat-card-actions class="course-actions">
        <button mat-button class="mat-raised-button mat-primary" routerLink="/courses/1">VIEW COURSE</button>
        <button mat-button class="mat-raised-button mat-accent" routerLink="/courses/1/edit">EDIT</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="mat-elevation-z10 course-card">
      <mat-card-header>
        <mat-card-title>Angular Universal Course</mat-card-title>
      </mat-card-header>
      <img mat-card-image
           src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/angular-universal-small.png">
      <mat-card-content>
        <p>
          Use Angular on the server too! Learn Angular Server-Side Rendering.
        </p>
      </mat-card-content>
      <mat-card-actions class="course-actions">
        <button mat-button class="mat-raised-button mat-primary" routerLink="/courses/1">VIEW COURSE</button>
        <button mat-button class="mat-raised-button mat-accent" routerLink="/courses/1/edit">EDIT</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>


