
@import "../common";



:host ::ng-deep .mat-tab-label  {
  text-transform: uppercase;
  font-weight: bold;
}


.course-header {
  margin-bottom: 30px;
  display: flex;

  & img {
    max-height: 100px;
    border-radius: 4px;
  }

  .course-title {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 24px;
    color: $text-color;

    mat-icon {
      display: inline-block;
      margin-left: 5px;
    }
  }

}

