
<div class="course-header">

  <img class="mat-elevation-z4"
       src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/security-cover-small-v2.png">

  <div class="course-title">
    Angular 5 Security Masterclass (with FREE E-Book)
    <mat-icon>mode_edit</mat-icon>
  </div>


</div>


<mat-tab-group ngClass.gt-md="desktop-container">

  <mat-tab label="Lessons">

    <edit-course-lessons></edit-course-lessons>

  </mat-tab>

  <mat-tab label="Landing Page">

  </mat-tab>

  <mat-tab label="Price">

  </mat-tab>

  <mat-tab label="Coupons">

  </mat-tab>

  <mat-tab label="Publish">

  </mat-tab>


</mat-tab-group>

