
<div class="course-header" *ngIf="(course$ | async) as course">

  <img class="mat-elevation-z4"
       [src]="imgSrc(course)">

  <div class="course-title">
    Angular 5 Security Masterclass (with FREE E-Book)
    <mat-icon class="edit-title">mode_edit</mat-icon>
  </div>


</div>


<mat-tab-group ngClass.gt-md="desktop-container">

  <mat-tab label="Lessons">

    <edit-course-lessons></edit-course-lessons>

  </mat-tab>

  <mat-tab label="Landing Page">

    <course-landing-page></course-landing-page>

  </mat-tab>

  <mat-tab label="Price">

  </mat-tab>

  <mat-tab label="Coupons">

  </mat-tab>

  <mat-tab label="Publish">

  </mat-tab>

  <mat-tab label="Schedule">

  </mat-tab>

</mat-tab-group>

