<div class="action-buttons">

  <ng-container *ngIf="showPurchaseButtons; else startCourse">

    <button mat-raised-button color="accent" (click)="buyCourse()">
      <div class="first-line">
        <mat-icon class="play-icon">play_circle_filled</mat-icon>
        <div>Take This Course</div>
      </div>
      <div class="second-line">Lifetime Access</div>
    </button>

    <button mat-raised-button color="primary" routerLink="/subscription">
      <div class="first-line">
        <mat-icon>play_circle_filled</mat-icon>
        <div>Subscribe Now</div>
      </div>
      <div class="second-line">Access All Courses</div>
    </button>

  </ng-container>

  <ng-template #startCourse>

    <button mat-raised-button [color]="course.free ? 'accent': 'primary'" (click)="start()">
      <div class="first-line">
        <mat-icon class="play-icon">play_circle_filled</mat-icon>
        <div>{{ course.free ? 'Start FREE Course': 'Start Course' }}</div>
      </div>
    </button>




  </ng-template>


</div>
