<div class="action-buttons">

  <!-- If the user does not own the course, show the purchase buttons -->
  <ng-container *ngIf="showPurchaseButtons">

    <button mat-raised-button color="accent" (click)="buyCourse()">
      <div class="first-line">
        <mat-icon class="play-icon">play_circle_filled</mat-icon>
        <div>Take This Course</div>
      </div>
      <div class="second-line">Lifetime Access</div>
    </button>

    <button mat-raised-button color="primary" routerLink="/subscription">
      <div class="first-line">
        <mat-icon>play_circle_filled</mat-icon>
        <div>Subscribe Now</div>
      </div>
      <div class="second-line">Access All Courses</div>
    </button>

  </ng-container>

  <!-- If the user owns the course, show the start course button -->
  <ng-container *ngIf="userOwnsCourse">

    <button mat-raised-button [color]="course?.free ? 'accent': 'primary'" (click)="start()">
      <div class="first-line">
        <mat-icon class="play-icon">play_circle_filled</mat-icon>
        <div>{{ course?.free ? 'Start FREE Course': 'Start Course' }}</div>
      </div>
    </button>

  </ng-container>

  <!-- If the user   -->
  <ng-container *ngIf="coupon?.free && !userOwnsCourse">

    <button mat-raised-button color="accent" (click)="fulfillFreeCourse()">
      <div class="first-line">
        <mat-icon class="play-icon">play_circle_filled</mat-icon>
        <div>Get your FREE Course</div>
      </div>
    </button>
  </ng-container>



</div>
