
@import "../mixins";

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    line-height: 18px;
    height: 75px;
    margin-right: 8px;
    @include mat-icon-size(32px);

    .first-line {
      padding: 0 4px;
      font-size: 23px;
      display: flex;
      align-items: center;
      .play-icon {
        margin-right: 3px;
      }
    }

    .second-line {
      font-size: 18px;
    }

  }

}

