
@import "../vars";

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  text-align: center;
  color: $text;
}

#firebaseui-auth-container {
  width: 400px;
}


::ng-deep .email-password .mdl-shadow--2dp {
  margin-top: 200px;
}



::ng-deep.mdl-shadow--2dp  {
  box-shadow: none;
  background-color: #fafafa;
}

::ng-deep .firebaseui-info-bar  {
  margin-top: 20px;
}

::ng-deep div.mdl-progress::after {
  display: block;
  color: black;
  content: "Logging in ...";
  margin: 20px auto 40px auto;
  text-align: center;
}

::ng-deep .mdl-progress   {
  height: 6px;
}

::ng-deep form .firebaseui-card-content {
  padding-top: 35px;
}
