
@import "../vars";

.warning {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .material-icon {
    margin-right: 10px;
  }
}

.type-code {
  margin-bottom: 15px;
}

.confirmation-code {
  width: 100%;
}



