<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field appearance="outline">

    <input matInput
           placeholder="Type here the title..."
           maxLength="60"
           formControlName="title">

  </mat-form-field>

    <quill-editor
      [formControl]="form.controls['description']"
      [modules]="editorConfig"
      [styles]="{height: '300px'}"
      placeholder="Type here the description...">

    </quill-editor>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

  <button mat-raised-button
          (click)="close()">
    Close
  </button>

  <button mat-raised-button color="primary"
          (click)="save()" [disabled]="!form.valid">
    Save
  </button>

</mat-dialog-actions>


