
<mat-sidenav #start (click)="start.close()">
  <mat-nav-list>

    <a mat-list-item routerLink="/courses">
      <span>Courses</span>
    </a>

    <a mat-list-item routerLink="/">
      <span>Admin</span>
    </a>

    <a mat-list-item>
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </a>

    <a mat-list-item>
      <mat-icon>account_circle</mat-icon>
      <span>Login</span>
    </a>

  </mat-nav-list>

</mat-sidenav>

<mat-toolbar color="primary" class="mat-elevation-z6 top-menu">

  <span class="menu-logo">OnlineCourseHost.com</span>


  <a mat-button (click)="start.open('mouse')" class="mobile-menu">
    <mat-icon>menu</mat-icon>
  </a>

  <a mat-button class="desktop-menu" routerLink="/courses">
    <span>Courses</span>
  </a>

  <a mat-button class="desktop-menu">
    <span>Admin</span>
  </a>

  <span class="filler"></span>

  <a mat-button class="desktop-menu" routerLink="/login" *ngIf="isLoggedOut$ | async">
    <mat-icon>person_add</mat-icon>
    <span>Register</span>
  </a>

  <a mat-button class="desktop-menu" routerLink="/login" *ngIf="isLoggedOut$ | async">
    <mat-icon>account_circle</mat-icon>
    <span>Login</span>
  </a>

  <img class="user-avatar" [src]="pictureUrl$ | async" *ngIf="isLoggedIn$ | async">

  <a mat-button class="desktop-menu" *ngIf="isLoggedIn$ | async" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </a>


</mat-toolbar>



