@import "../common";

.top-menu {
  position: fixed;
  z-index: 3;
  display: flex;

  & span {
    font-size: 16px;
    text-transform: uppercase;
    &.menu-logo {
      text-transform: none;
      margin-left: 20px;
      margin-right: 70px;
    }
  }
}

.mobile-menu {
  display: none;
}

// lt-md
@media screen and (max-width: 959px) {

  .mobile-menu {
    display: inline;
  }

  .desktop-menu {
    display: none;
  }
}

