<mat-card class="mat-elevation-z10 course-card">
  <mat-card-header>
    <mat-card-title>{{course?.title}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="imgSrc()">


  <mat-card-content>
    <p>
      {{course?.shortDescription}}
    </p>
  </mat-card-content>
  <mat-card-actions class="course-actions">
    <button mat-raised-button color="primary" [routerLink]="['/courses',course.url]">VIEW COURSE</button>
    <button mat-raised-button color="accent" [routerLink]="['/courses',course.url, 'edit']">EDIT</button>
  </mat-card-actions>
</mat-card>
