


.course-card {
  width: 350px;
}

.course-actions {
  display:flex;
  justify-content: center;

  button {
    margin-right: 5px;
  }
}

:host ::ng-deep .mat-card-header-text {
  height: 54px;
}

:host ::ng-deep .mat-card-content {
  height: 40px;
}
