<mat-card class="mat-elevation-z10 course-card">
  <mat-card-header>
    <mat-card-title>{{course?.title}}</mat-card-title>
  </mat-card-header>

  <img mat-card-image [src]="imgSrc()">


  <mat-card-content>
    <p>
      {{course?.shortDescription}}
    </p>
  </mat-card-content>
  <mat-card-actions class="course-actions">

    <div class="move-up-down" *allowRole="'ADMIN'">

      <i class="fas fa-chevron-circle-up" *ngIf="!first" matTooltip="Move item up" (click)="onMoveUp()"></i>

      <i class="fas fa-chevron-circle-down" *ngIf="!last" matTooltip="Move item down" (click)="onMoveDown()"></i>

    </div>

    <button mat-raised-button color="primary" [routerLink]="['/courses',course.url]">VIEW COURSE</button>
    <button mat-raised-button color="accent" [routerLink]="['/courses',course.url, 'edit']" *allowRole="'ADMIN'">EDIT</button>
  </mat-card-actions>
</mat-card>
