
.course-container {
  margin-top: 120px;
  width: 1000px;
  padding: 10px 20px;
}




.course-titles {
  max-width: 800px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.course-enroll-card {
  width: 400px;
  margin: 0 auto;
}

.course-thumbnail {
  max-width: 400px;
  border-radius: 4px;
}




.course-title {
  font-size: 45px;
  font-weight: bold;
}

.course-subtitle {
  font-size: 24px;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin-right: 10px;
    font-size: 18px;
    line-height: 18px;
    height: 50px;
  }

}

.prices {
  margin: 20px 0;
  text-align: center;
}

.course-price {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

.course-original-price {
  font-size: 23px;
  text-decoration: line-through;
  color: #a1a7b3;
  display: inline-block;
  margin-right: 10px;
}

.discount {
  font-size: 23px;
  color: #a1a7b3;
  display: inline-block;
}


.course-includes {
  margin-top: 30px;
}

.includes-label {
  font-weight: bold;
}

.course-body {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
}

