:host {
  width: 100%;
}



.course-header {
  background: #3b3d41;
  color:white;
  width: 100%;
}


.course-titles {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 100px;
}


.course-title {
  font-size: 45px;
  font-weight: bold;
}

.course-subtitle {
  font-size: 24px;
}
