
<div class="course-container mat-elevation-z10" *ngIf="(course$ | async) as course">

  <div class="course-header">

    <div class="course-titles">

      <div class="course-title">{{course.title}}</div>

      <h2>{{course.subTitle}}</h2>

    </div>

    <div class="course-enroll-card">

      <img class="course-thumbnail mat-elevation-z9" [src]="thumbnailUrl(course)">

      <div class="prices">
        <span class="course-price">Price: $10.99</span>
        <span class="course-original-price">$199</span>
        <span class="discount">94% Off</span>
      </div>

      <div class="action-buttons">

        <button mat-raised-button color="accent">
          <mat-icon>play_circle_filled</mat-icon>
          <div>Take This Course</div>
          <div>Lifetime Access</div>
        </button>

        <button mat-raised-button color="primary">
          <mat-icon>play_circle_filled</mat-icon>
          <div>Subscribe Now</div>
          <div>Access All Courses</div>
        </button>

      </div>

    </div>

  </div>


  <div class="course-body">

    <div [innerHtml]="course.longDescription"></div>


  </div>

</div>

