<h2 mat-dialog-title>{{dialogTitle}}</h2>

<messages></messages>

<loading></loading>

<mat-dialog-content>

  <div class="plan-form" [formGroup]="planForm">

    <mat-form-field *ngIf="editPlanName">

      <input matInput
             placeholder="Plan Name (shown to subscribers)"
             #titleHint
             maxLength="60"
             formControlName="planDescription">

    </mat-form-field>

    <mat-form-field>

      <input matInput placeholder="Plan Price (USD)" type="number" formControlName="planPrice">

    </mat-form-field>

    <mat-form-field *ngIf="editUndiscountedPrice">

      <input matInput placeholder="Undiscounted Plan Price (USD)" type="number" formControlName="undiscountedPrice">

    </mat-form-field>

    <features
      [features]="pricingPlan.features"
      (featureAdded)="onAddFeature($event)"
      (featureDeleted)="onDeleteFeature($event)"
      (featuresOrderChanged)="onFeaturesOrderChanged($event)">

    </features>

  </div>

</mat-dialog-content>


<mat-dialog-actions class="dialog-actions">

  <button mat-raised-button color="primary" (click)="save()">Save Plan</button>

  <button class="mat-raised-button" (click)="close()">Close</button>

</mat-dialog-actions>



