<h2 mat-dialog-title>Start Your Own Online School</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input class="lowercase" matInput
           placeholder="Type here your school link prefix (min. 3 letters)"
           formControlName="subDomain">

  </mat-form-field>

  <div class="form-field-error" *ngIf="domainAlreadyExists()">{{form.value.subDomain}} already exists, please choose another link prefix.</div>


  <div class="domain-example">

    <mat-icon color="warn">warning</mat-icon>

    <p>Your online school will be available at <b>{{form.value.subDomain ? form.value.subDomain : '*' }}.onlinecoursehost.com</b></p>

  </div>

  <p class="extra-info field-hint">(you can also setup your own website later, like for example my-online-school.com)</p>

  <mat-form-field class="school-title">

    <input matInput placeholder="Type here your school name" formControlName="schoolName">

    <mat-hint align="end">This is just a working title, you can change it later</mat-hint>

  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

  <button class="mat-raised-button mat-primary"
          (click)="save()" [disabled]="!form.valid">
    Create my Online School
  </button>

</mat-dialog-actions>


