
<ng-container *ngIf="(data$ | async) as data">

  <h1 class="page-title">{{title}}</h1>

  <div class="mat-elevation-z5 latest-lessons">

    <div class="header-toolbar">

      <div class="sort-filters noselect">
        <div class="sort-option" [ngClass]="isSortOrderActive(data.sortOrder, 'desc')" (click)="selectSortOrder('desc')">Latest First</div>
        <div class="sort-option" [ngClass]="isSortOrderActive(data.sortOrder, 'asc')" (click)="selectSortOrder('asc')">Oldest First</div>
      </div>

    </div>

    <div class="lesson-row mat-row" *ngFor="let lesson of data.latestLessons"
         (click)="navigateToLesson(lesson)">

      <div class="lesson-viewed" (click)="onCheckBoxToggled($event)">
        <mat-checkbox  [checked]="isLessonWatched(data.lessonsWatched, lesson)" color="primary" (change)="onLessonViewedClicked($event, lesson, data.isLoggedIn)" #watched></mat-checkbox>
      </div>

      <div class="lesson-icon">
        <mat-icon>play_circle_outline</mat-icon>
      </div>

      <div class="lesson-list-icon" *ngIf="findCourseListIcon(lesson.courseId, data.courses) as courseListIcon">
        <img class="lesson-list-icon" [src]="courseListIcon" >
      </div>

      <div class="lesson-description"  [ngClass]="{'lesson-watched': isLessonWatched(data.lessonsWatched, lesson)}">
        {{lesson.title}}
      </div>

      <div class="filler"></div>

      <div class="lesson-pro">
        <mat-icon class="pro-icon" *ngIf="!lesson.free" title="This is a Premium lesson">local_parking</mat-icon>
      </div>

      <div class="lesson-duration">
        <mat-icon class="duration-icon">access_time</mat-icon>
        {{lesson.videoDuration | duration}}
      </div>

    </div>

  </div>

  <div class="bottom-toolbar">
    <button mat-raised-button color="accent" *ngIf="!data.isAllLatestLessonsLoaded" (click)="loadMore()">Load More</button>
  </div>

</ng-container>


