@mixin mat-icon-size($size: 24px) {
  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}

.filler {
  flex: 1 1 auto;
}

.draggable {
  cursor: move;
}

.desktop-container {
  min-width: 1000px;
}

.form-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5px;
}

.single-col-form {
  display: flex;
  flex-direction: column;
}


.page-title {
    display: flex;
  justify-content: center;
}

.page-section {
  display: flex;
  justify-content: center;
  align-content: center;
}


.section-label {
  margin-bottom: 10px;
  margin-top: 30px;
}


.dialog-actions {
  display:flex;
  justify-content: flex-end;
}

