@mixin mat-icon-size($size: 24px) {
  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}

.filler {
  flex: 1 1 auto;
}

$dark-text-color: rgba(40, 51, 54, 0.8);

.draggable {
  cursor: move;
}

.desktop-container {
  min-width: 1000px;
}


.page-title {
    display: flex;
  justify-content: center;
  color: $dark-text-color;
}

.page-section {
  display: flex;
  justify-content: center;
  align-content: center;
}


.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
