@mixin mat-icon-size($size: 24px) {
  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}

.filler {
  flex: 1 1 auto;
}

$text-color: rgba(0, 0, 0, 0.7);
