
@mixin mat-icon-size($size: 24px) {
  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}


@mixin single-col-dialog {
  mat-dialog-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    margin-bottom: 20px;
  }
}



@mixin single-col-form {
  display: flex;
  flex-direction: column;
}

@mixin form-card-actions {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding-bottom: 10px;
  button {
    margin-left: 5px;
    text-transform: uppercase;
  }
}



@mixin centered-parent {
  position: relative;
}

@mixin centered-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
