
@mixin mat-icon-size($size: 24px) {
  .mat-icon {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}


@mixin single-col-dialog {
  mat-dialog-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  mat-form-field {
    margin-bottom: 20px;
  }
}

