



::ng-deep body {
  margin: 0;
}



.app-messages-container {
  margin-top: 64px;
  position: fixed;
  width: 100%;
  z-index: 3;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

main {
  display: flex;
  padding-top: 140px;
  justify-content: center;
}


