

@import "vars";

::ng-deep body {
  margin: 0;
}



.app-messages-container {
  margin-top: 64px;
  position: fixed;
  width: 100%;
  z-index: 3;
}

main {
  display: flex;
  justify-content: center;
}


:host-context(body) {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color:rgba(26,35,38,.8);
  -webkit-font-smoothing: antialiased;
}
