
@import "common";


::ng-deep body {
  margin: 0;
}

.menu {
  position: fixed;

  & span {
    font-size: 16px;
    text-transform: uppercase;
  }
}


main {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}


