

@import "../mixins";

.edit-lessons-toolbar {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-top: 20px;

  .help {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-right: 15px;
    span {
      margin-right: 2px;
    }
    @include mat-icon-size(17px);
  }

}
