<edit-lessons-toolbar>

</edit-lessons-toolbar>

<div class="tab-container mat-elevation-z5">

  <h3>Course Price</h3>

  <div class="controls-form" [formGroup]="form" *ngIf="course$ | async as course">

    <div [formGroup]="priceGroup" class="price-controls">

      <mat-form-field class="price-field">

        <input matInput placeholder="Undiscounted sales price (USD)" type="number" formControlName="price">

      </mat-form-field>

      <div class="toggle-command">
        <mat-slide-toggle color="primary" formControlName="includedInSubscription">
          Included in subscription
        </mat-slide-toggle>

        <div class="field-hint">If you plan on producing regular content, it's recommended to include your courses in a
          subscription
          plan.
        </div>
      </div>


    </div>

    <div class="toggle-command">
      <mat-slide-toggle color="primary" formControlName="free">
        Free Course
      </mat-slide-toggle>

      <div class="field-hint">A free course is a great way of building your mailing list.</div>

    </div>

    <div class="form-buttons">

      <div class="filler"></div>

      <button mat-raised-button color="primary">Save Changes</button>

    </div>

  </div>

  <mat-divider class="divider"></mat-divider>

  <h3>Course Coupons</h3>

  <div class="toggle-command">
    <mat-slide-toggle color="primary" [checked]="onlyActiveCoupons" (toggleChange)="onToggleFilter($event)">
      Show only active coupons
    </mat-slide-toggle>
  </div>

  <loading></loading>

  <coupons-table
    [courseCoupons]="coupons$ | async"
    [course]="course$ | async"
    (toggleCoupon)="onCouponToggled($event)">

  </coupons-table>

</div>

