<edit-lessons-toolbar>

</edit-lessons-toolbar>

<div class="tab-container mat-elevation-z5">

  <p>Suggestion: If the course is also part of a monthly subscription, its important
    to set the price between 6 to 10 times the value of the subscription, in order to make choosing the subscription more
    appealing.</p>


  <input matInput placeholder="Course Price" type="number">


  Is the course included in a Subscription?
  <mat-checkbox color="primary"></mat-checkbox>
  <mat-hint>If you plan on producing regular content, it's recommended to have a subscription plan.</mat-hint>


  <div class="price-actions">

    <div class="filler"></div>

    <button mat-raised-button>Save</button>

  </div>

  <hr>

  <h3>Course Coupons</h3>

  <coupons-table [courseCoupons]="coupons$ | async" [course]="course$ | async"></coupons-table>

</div>

