<div class="course-section mat-elevation-z7">

  <div class="section-title" (mouseenter)="toggleHeaderButtons()" (mouseleave)="toggleHeaderButtons()">
    <span class="section-number">Section {{section.seqNo}}: </span>
    <span class="section-title-text" (click)="editSectionTitle(course,section)"> {{section.title}}</span>

    <div class="edit-button-container" *ngIf="headerButtonsVisible" [@fadeIn] (click)="editSectionTitle(course,section)">
      <mat-icon>edit</mat-icon>
    </div>

    <div class="filler draggable"></div>

    <mat-icon class="drag-section draggable" *ngIf="headerButtonsVisible" [@fadeIn]>drag_handle</mat-icon>
  </div>


  <ng-container *ngIf="(lessons$ | async) as lessons">

    <div cdkDropList
         [cdkDropListData]="lessons"
         #sectionDragContainer (cdkDropListDropped)="dropLesson(lessons, $event)">

      <edit-lesson-list-item
        *ngFor="let lesson of lessons; trackBy: trackByLessonId; let index = index"
        [lesson]="lesson"
        [course]="course"
        [index]="index"
        [expanded]="expandedLessons[lesson.id]"
        (expandChanged)="onExpandLesson(lesson, $event)"
        cdkDrag>

      </edit-lesson-list-item>

    </div>

  </ng-container>

  <div class="bottom-toolbar">

    <action-button
      color="accent" icon="delete" color="secondary" (click)="deleteSection(course, section)"
      title="Delete empty section" *ngIf="(lessons$ | async)?.length == 0">

    </action-button>

    <div class="filler"></div>

    <action-button class="add-lesson" text="Add Lesson" color="accent" icon="add"
                   (click)="addLesson(course, section)"></action-button>

  </div>


</div>
