
@import "../mixins";

.course-section {
  margin: 15px 15px 80px 15px;
  background: rgba(0, 0, 0, .03);
  padding: 30px 15px 15px 15px;
}

.section-number {
  font-weight: bold;
  margin-right: 8px;
}

.section-title {
  margin-bottom: 20px;
  display: flex;
  min-height: 24px;
}

.drag-section {
  margin-right: 10px;
}

.edit-button-container {
  margin-left: 5px;
  @include mat-icon-size(20px);
  cursor: pointer;
}

.section-title-text {
  font-weight: normal;
}

.lecture-number {
  width: 95px;
}

.bottom-toolbar {
  display: flex;
  margin-top: 20px;
}


.mat-expansion-panel-header-title {
  flex-grow: 0;
}

.add-content {
  height: 22px;
  font-size: 12px;
  line-height: 12px;
  margin-right: 5px;
}

.add-lesson {
  margin-right: 5px;
  margin-bottom: 1px;
}
