<div [formGroup]="form" class="newsletter-form" *ngIf="(newsletter$ | async) as newsletter">

  <h3 class="newsletter-cta">{{newsletter.callToAction ? newsletter.callToAction : "Subscriber to our newsletter:"}}</h3>

  <mat-form-field class="email-field" appearance="outline">

    <input matInput
           placeholder="Enter your email"
           formControlName="email">

    <mat-hint align="end">{{newsletter.infoNote ? newsletter.infoNote :"" }}</mat-hint>

  </mat-form-field>

  <div class="bottom-toolbar">

    <button class="mat-raised-button mat-primary"
            (click)="saveEmail()" [disabled]="!form.valid">
      Subscribe
    </button>

  </div>


</div>


