<h2 mat-dialog-title>Create New Course</h2>

<messages></messages>

<loading></loading>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input matInput
           placeholder="Course title (max 60 chars)"
           #titleHint
           maxLength="60"
           formControlName="title">

    <mat-hint align="end">
      {{titleHint.value.length}} / 60
    </mat-hint>

  </mat-form-field>


  <mat-form-field>

    <input matInput
           placeholder="Short description (max 98 chars)"
           #shortDescrHint
           maxLength="98"
           formControlName="shortDescription">

    <mat-hint align="end">
      {{shortDescrHint.value.length}} / 98
    </mat-hint>

  </mat-form-field>

  <mat-form-field>

    <input matInput
           placeholder="Course url"
           formControlName="url">
    <mat-hint>Recommended: dash separated, no spaces, short and sweet url path. Example: online-marketing-course
    </mat-hint>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary"
          (click)="save()" [disabled]="!form.valid">
    Create Course
  </button>

</mat-dialog-actions>


