


<h2 mat-dialog-title>Create New Course</h2>


<mat-dialog-content [formGroup]="form" class="single-col-form">

  <mat-form-field>

    <input matInput
           placeholder="Course Title"
           formControlName="title">

  </mat-form-field>


  <mat-form-field>

    <input matInput
           placeholder="Course Url"
           formControlName="url">

  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary"
          (click)="save()">
    Create Course
  </button>

</mat-dialog-actions>


