

@import "../mixins";

$height: 150px;
$width: 1.7769 * $height;


.editable-image-container {
  display: flex;
  align-items: flex-end;
}

.editable-image {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  width: $width;
  height: $height;
  background-size: $width $height;
}



.edit-image-control {
  display: flex;
  align-items: center;
  @include mat-icon-size(50px);
  color: black;
}

.edit-mode {
  opacity: 0.5;
  cursor: pointer;
}

.file-upload {
  position: absolute;
  height: $height;
  width: $width;
  cursor: pointer;
  display: none;
}

.upload-image-button {
  margin-left: 20px;
}
