<div class="editable-image-container">

  <div class="editable-image mat-elevation-z4"
       [ngClass]="stateClasses()"
       [ngStyle]="{'background-image': 'url(' + imgSrc() + ')'}"
       (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (click)="fileUpload.click()">

    <input class="file-upload" type="file" (change)="onFileSelected($event)" accept="image/*" #fileUpload>

    <div class="edit-image-control" *ngIf="editMode">
      <mat-icon>mode_edit</mat-icon>
    </div>
  </div>

</div>


