

@import "../mixins";

$height: 150px;
$width: 1.7769 * $height;

.editable-image {
  border-radius: 4px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url('https://s3-us-west-1.amazonaws.com/angular-university/course-images/security-cover-small-v2.png');
  width: $width;
  height: $height;
  background-size: $width $height;
}



.edit-image-control {
  display: flex;
  align-items: center;
  @include mat-icon-size(50px);
  color: black;
}

.edit-mode {
  opacity: 0.5;
  cursor: pointer;
}

.file-upload {
  position: absolute;
  height: $height;
  width: $width;
  cursor: pointer;
  opacity: 0;
}

.upload-image-button {

}
