<div class="editable-image-container">

  <div class="editable-image mat-elevation-z4"
       [ngClass]="stateClasses()"
       (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">

    <input class="file-upload" type="file" (change)="onFileSelected($event)" accept="image/*">

    <div class="edit-image-control" *ngIf="editMode">
      <mat-icon>mode_edit</mat-icon>
    </div>
  </div>

  <button mat-raised-button color="primary" [disabled]="!imageFile" class="upload-image-button" (click)="uploadImage()">
    Upload Image
  </button>

</div>


