.upload-progress-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}


.upload-progress {
  display: flex;
  flex-direction: column;
  align-items: flex-end;


  span {
    margin-left: 8px;
  }
}

.cancel-upload {
  cursor:pointer;
  display: inline;
  margin-left: 5px;
}
