
@import "../mixins";
@import "../vars";

.course-container {
  margin-top: 120px;
  width: 1000px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.course-titles {
  max-width: 800px;
  color: $dark-text;
  padding-bottom: 50px;
  padding-top: 50px;
}

.title-extra-info {
  display: flex;
  font-size: 16px;
  align-items: center;
  padding-left: 10px;

  .duration {
    margin-left: 10px;
  }
}


.thumbnail-container {
  display: flex;
  justify-content: center;
}


.course-enroll-card {
text-align: center;
}

.course-thumbnail {
  border-radius: 4px;
}




.course-title {
  font-size: 48px;
  font-weight: bold;
}

.course-subtitle {
  font-size: 18px;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    line-height: 18px;
    height: 80px;
    margin-right: 8px;
    @include mat-icon-size(32px);

    .first-line {
      padding: 0 4px;
      font-size: 23px;
      display: flex;
      align-items: center;
    }

    .second-line {
      font-size: 16px;
    }

  }

}

.prices {
  margin: 50px 0 20px 0;
}

.course-price {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

.course-original-price {
  font-size: 23px;
  text-decoration: line-through;
  color: #a1a7b3;
  display: inline-block;
  margin-right: 10px;
}

.discount {
  font-size: 23px;
  color: #a1a7b3;
  display: inline-block;
}


.course-includes {
  margin-top: 30px;
}

.includes-label {
  font-weight: bold;
}

.course-body {
  max-width: 1000px;
  padding-top: 50px;
  ::ng-deep b  {
    font-weight: bold;
    font-size: 20px;
  }
}

