
@import "../mixins";
@import "../vars";

.course-container {
  margin-top: 120px;
  width: 1000px;
  padding: 10px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.course-titles {
  max-width: 800px;
  color: $dark-text;
  padding-bottom: 50px;
  padding-top: 50px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
}


.course-enroll-card {
text-align: center;
}

.course-thumbnail {
  border-radius: 4px;
}


.course-title-container {
  display: flex;
  align-items: center;
  @include mat-icon-size(25px);
  .title-icon {
    align-items: flex-start;
    margin-right: 8px;
    margin-top: 5px;
  }
}




.course-title {
  font-size: 42px;
  font-weight: bold;
}

.course-subtitle {
  font-size: 21px;
  margin: 10px 0;
}

.title-extra-info {
  display: flex;
  font-size: 14px;
  align-items: center;
  padding-left: 10px;

  .duration {
    margin-left: 10px;
  }

  @include mat-icon-size(14px);
}

.prices {
  margin: 50px 0 20px 0;
}

.course-price {
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}

.course-original-price {
  font-size: 24px;
  text-decoration: line-through;
  color: #a1a7b3;
  display: inline-block;
  margin-right: 10px;
}

.discount {
  font-size: 24px;
  display: inline-block;
  color: #a1a7b3;
}

.valid-until {
  font-size: 18px;
  margin-top: 10px;

}

.course-includes {
  margin-top: 30px;
}

.includes-label {
  font-weight: bold;
}

.course-description {
  padding-top: 50px;
}

.description-text {
  max-width: 1000px;
  color: $text;
  ::ng-deep b  {
    color:$dark-text;
  }
}

.lessons-section {
  margin-top: 100px;
}

.show-more {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 40px;
  color: #2e6791;
}
.hide-show-more {
  display: none;
}
