
<div class="course-container mat-elevation-z10" *ngIf="(course$ | async) as course">

  <div class="course-header">

    <div class="course-titles">

      <div class="course-title-container">
        <mat-icon class="title-icon">video_library</mat-icon>
        <div class="course-title">{{course.title}}</div>
      </div>

      <div class="course-subtitle">{{course.subTitle}}</div>

      <div class="title-extra-info">

        <mat-icon>mode_edit</mat-icon> <span>Angular University</span>

        <mat-icon class="duration">access_time</mat-icon><span>7.5 hours</span>

      </div>


    </div>

    <div class="thumbnail-container">
      <img class="course-thumbnail mat-elevation-z7" [src]="thumbnailUrl(course)">
    </div>



    <div class="course-enroll-card">

      <div class="prices">
        <span class="course-price">Price: $10.99</span>
        <span class="course-original-price">$199</span>
        <span class="discount">(94% Off)</span>
      </div>

      <div class="action-buttons">

        <button mat-raised-button color="accent">
          <div class="first-line">
            <mat-icon>play_circle_filled</mat-icon>
            <div>Take This Course</div>
          </div>
          <div class="second-line">Lifetime Access</div>
        </button>

        <button mat-raised-button color="primary">
          <div class="first-line">
            <mat-icon>play_circle_filled</mat-icon>
            <div>Subscribe Now</div>
          </div>
          <div class="second-line">Access All Courses</div>
        </button>

      </div>

    </div>

  </div>


  <div class="course-body">

    <div [innerHtml]="course.longDescription"></div>


  </div>

</div>

