<edit-lessons-toolbar>

</edit-lessons-toolbar>


<div class="tab-container mat-elevation-z5 publish-course-panel">

  <div class="publish-container">

    <h4>Complete the following steps</h4>

    <div class="checklist">

      <mat-checkbox disabled color="primary">Set course title</mat-checkbox>

      <mat-checkbox disabled color="primary">Set course short description</mat-checkbox>

      <mat-checkbox disabled color="primary">Set course long description</mat-checkbox>

      <mat-checkbox disabled color="primary">Set course price</mat-checkbox>

      <mat-checkbox disabled color="primary">Setup payments with Stripe</mat-checkbox>

      <mat-checkbox disabled color="primary">Upload videos</mat-checkbox>

    </div>

    <button color="accent" mat-raised-button class="publish">Publish Course Now</button>

  </div>


</div>


