<edit-lessons-toolbar>

</edit-lessons-toolbar>


<div class="tab-container mat-elevation-z5 publish-course-panel" *ngIf="(data$ | async) as data">

  <div class="publish-container">

    <h2>Complete the following steps</h2>

    <div class="field-hint">Note: hover with the mouse over each checkbox for an explanation on how to complete each publication step.</div>

    <div class="checklist">

      <mat-checkbox disabled color="primary"
                    [checked]="isCourseTitleSet(data)" matTooltip="Set this using the Landing Page tab">
        Set course title
      </mat-checkbox>

      <mat-checkbox disabled color="primary"
                    [checked]="isCourseSubTitleSet(data)" matTooltip="Set this using the Landing Page tab">
        Set course short description
      </mat-checkbox>

      <mat-checkbox disabled color="primary"
                    [checked]="isCourseLongDescriptionSet(data)" matTooltip="Set this using the Landing Page tab">
        Set course long description
      </mat-checkbox>

      <mat-checkbox disabled color="primary"
                    [checked]="isCoursePriceSet(data)" matTooltip="Set this using the Price & Coupons tab">
        Set course price
      </mat-checkbox>

      <mat-checkbox disabled color="primary"
                    [checked]="isStripeConnectionActive(data)" matTooltip="Set this using the Price & Coupons tab">
        Setup payments with Stripe
      </mat-checkbox>

      <mat-checkbox disabled color="primary"
                    [checked]="areCourseVideosUploaded(data)" matTooltip="Upload several video lessons using the Lessons tab">
        Upload videos
      </mat-checkbox>

    </div>

    <button color="accent" mat-raised-button class="publish" [disabled]="!isCoursePublishable(data)">Publish Course Now</button>

  </div>


</div>


