<edit-lessons-toolbar>

</edit-lessons-toolbar>


<div class="tab-container mat-elevation-z5 publish-course-panel" *ngIf="(data$ | async) as data">

  <div class="publish-container">

    <h4>Complete the following steps</h4>

    <div class="checklist">

      <mat-checkbox disabled color="primary" [checked]="isCourseTitleSet(data)">Set course title</mat-checkbox>

      <mat-checkbox disabled color="primary" [checked]="isCourseSubTitleSet(data)">Set course short description</mat-checkbox>

      <mat-checkbox disabled color="primary" [checked]="isCourseLongDescriptionSet(data)">Set course long description</mat-checkbox>

      <mat-checkbox disabled color="primary" [checked]="isCoursePriceSet(data)">Set course price</mat-checkbox>

      <mat-checkbox disabled color="primary" [checked]="isStripeConnectionActive(data)">Setup payments with Stripe</mat-checkbox>

      <mat-checkbox disabled color="primary" [checked]="areCourseVideosUploaded(data)">Upload videos</mat-checkbox>

    </div>

    <button color="accent" mat-raised-button class="publish" [disabled]="!isCoursePublishable(data)">Publish Course Now</button>

  </div>


</div>


