<div class="lesson-row mat-row" *ngFor="let lesson of lessons.sectionLessons; let index = index"
     [routerLink]="['/courses', course.url, sectionSeqNo , 'lessons', lesson.seqNo]" [ngClass]="lessonClasses(lesson)">

  <div class="lesson-icon">
    <mat-icon>play_circle_outline</mat-icon>
  </div>

  <div class="lesson-number">
    {{lessons.sectionStartIndex + index + 1}}.
  </div>

  <div class="lesson-description">
    {{lesson.title}}
  </div>

  <div class="filler"></div>

  <div class="lesson-pro" *ngIf="!playlistMode">
    <mat-icon class="pro-icon" *ngIf="!lesson.free" title="This is a Premium lesson">local_parking</mat-icon>
  </div>

  <div class="lesson-duration">

    {{lesson.videoDuration | duration}}
  </div>

  <div class="lesson-viewed" (click)="onCheckBoxToggled($event)">
    <mat-checkbox  [checked]="isLessonWatched(lesson)" color="primary" (change)="onLessonViewedClicked($event, lesson)" #watched></mat-checkbox>
  </div>

</div>

