
@import "../vars";
@import "../mixins";

:host {
  width: 100%;
}


.pricing-screen {
  color: $text;
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.pricing-plans {
  display: flex;
  justify-content: space-evenly;
}

.team-plans {
  max-width:700px;
  margin: 0 auto;
}

.team-size {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px auto;
  mat-icon {
    margin-right: 10px;
  }
}

.team-size-field {
  max-width: 220px;
}

.pricing-plan {
  width:250px;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 4px;
  color:rgba(26,35,38,.8);

  ::ng-deep .mat-card-header-text {
    margin: 0;
  }

  mat-toolbar {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .edit-button {
      margin-left: 6px;
      margin-top: 7px;
    }
  }

}

.prices {
  .price {
    font-size:19px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }

  .undiscounted-price {
    font-size: 21px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    .strikethrough-price {
      text-decoration: line-through;
    }
    .discount {
      margin-left: 5px;
    }
  }
}

.edit-features {
  text-align: center;
}

.features {
  margin: 10px;
}

.purchase-button {
  display: flex;
  justify-content: center;
  margin-bottom: 15px !important;
}


.powered-by {
  text-align: center;
  margin: 30px 0;
  img {
    height: 55px;
  }
}


.change-plans-link {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  mat-icon {
    margin-right: 10px;
  }
}

.pricing-plans-message {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.note {
  font-size: 14px;
  font-style: italic;
}


.connect-with-stripe {
  background: $secondary-light;
}

fieldset {
  display: flex;
  flex-direction: column;
}


.activate-button {
  margin-top: 10px;
}

.edit-plans {
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    margin-right: 5px;
    font-size: 16px;
  }
}

.team-plans-note {
  margin-bottom: 20px;
  font-size: 15px;
}

.bulk-discount {
  margin-top: 10px;
}
