<div class="desktop-container pricing-screen">

  <ng-container *ngIf="(isConnectedToStripe$ | async); else connectToStripe">

    <ng-container *ngIf="arePricingPlansReady$ | async; else plansNotReady">

      <ng-container *ngIf="(userPermissions$ | async) as userPermissions">

        <ng-container *ngIf="(user$ | async) as user">

          <ng-container *ngIf="(plans$ | async) as plans">

            <h1 class="page-title">Subscription Plans - Cancel Anytime</h1>

            <div class="pricing-plans">

              <mat-card class="mat-elevation-z10 pricing-plan">

                <mat-card-header>
                  <mat-toolbar color="primary">
                    Monthly
                    <mini-action-button class="edit-button" icon="mode_edit" *allowRole="'ADMIN'"
                                        (click)="editPlan(plans, 'monthlyPlan', true, false, true)"></mini-action-button>
                  </mat-toolbar>
                </mat-card-header>

                <mat-card-content>

                  <div class="prices">
                    <div class="price">{{plans.monthlyPlan.price / 100 | currency}} / Month</div>
                  </div>

                  <ul class="features">
                    <li *ngFor="let feature of plans.monthlyPlan.features">{{feature}}</li>
                  </ul>

                </mat-card-content>

                <div class="filler"></div>

                <div class="purchase-button">

                  <button mat-raised-button color="primary"
                          [disabled]="!isMonthlyButtonActive(user)"
                          (click)="activateSubscription(plans.monthlyPlan, userPermissions, user)">
                    {{monthlyPlanButtonText( user)}}
                  </button>

                </div>

              </mat-card>


              <mat-card class="mat-elevation-z10 pricing-plan">
                <mat-card-header>
                  <mat-toolbar color="primary">
                    Yearly
                    <mini-action-button class="edit-button" icon="mode_edit" *allowRole="'ADMIN'"
                                        (click)="editPlan(plans, 'yearlyPlan', true, true, true)"></mini-action-button>
                  </mat-toolbar>
                </mat-card-header>

                <mat-card-content>

                  <div class="prices">
                    <div class="price">{{plans.yearlyPlan.price / 100 | currency}} / Year</div>
                    <div class="undiscounted-price">
                      <span class="strikethrough-price">{{plans.yearlyPlan.undiscountedPrice / 100 | currency}}</span>
                      <span class="discount">({{calculateYearlyDiscount(plans) | percent }} Off)</span>
                    </div>
                  </div>

                  <ul class="features">
                    <li *ngFor="let feature of plans.yearlyPlan.features">{{feature}}</li>
                  </ul>

                </mat-card-content>

                <div class="filler"></div>

                <mat-card-actions class="purchase-button">

                  <button mat-raised-button color="accent"
                          [disabled]="!isYearlyButtonActive(user)"
                          (click)="activateSubscription(plans.yearlyPlan, userPermissions, user)">
                    {{yearlyPlanButtonText( user)}}
                  </button>

                </mat-card-actions>

              </mat-card>


              <mat-card class="mat-elevation-z10 pricing-plan">

                <mat-card-header>
                  <mat-toolbar color="primary">
                    Lifetime
                    <mini-action-button class="edit-button" icon="mode_edit" *allowRole="'ADMIN'"
                                        (click)="editPlan(plans, 'lifetimePlan', false, false, false)"></mini-action-button>
                  </mat-toolbar>
                </mat-card-header>

                <mat-card-content>

                  <div class="prices">
                    <div class="price">${{plans.lifetimePlan.price / 100 | number}} / Forever!</div>
                  </div>

                  <ul class="features">
                    <li *ngFor="let feature of plans.lifetimePlan.features">{{feature}}</li>
                  </ul>

                </mat-card-content>

                <div class="filler"></div>

                <div class="purchase-button">

                  <button mat-raised-button color="primary"
                          [disabled]="!isLifetimeButtonActive(user)"
                          (click)="activateSubscription(plans.lifetimePlan, userPermissions, user)">
                    {{lifetimePlanButtonText( user)}}
                  </button>

                </div>

              </mat-card>

            </div>

            <div class="powered-by">

              <img src="https://angular-academy.s3.amazonaws.com/powered_by_stripe_v2.png">

            </div>

            <ng-container *ngIf="(subscriptionContent$ | async) as content">


              <editable-text-box
                [html]="content.subscriptionBenefits"
                [content]="content"
                editedProperty="subscriptionBenefits"
                (textEdited)="onContentEdited($event)">

              </editable-text-box>


              <faqs
                [editedContent]="content"
                (faqEdited)="onContentEdited($event)"
                (faqAdded)="onContentEdited($event)"
                (faqDeleted)="onContentEdited($event)"
                (faqOrderChanged)="onContentEdited($event)">

              </faqs>

            </ng-container>

          </ng-container>

        </ng-container>

      </ng-container>

    </ng-container>

    <ng-template #plansNotReady>

      <div class="pricing-plans-message" [formGroup]="form">

        <h1>Activate Subscription Plans</h1>

        <p class="note">Note:These descriptions are shown to users on their credit card statements. Make sure that these
          descriptions correctly identify your website. </p>


        <fieldset>

          <legend>Monthly Plan</legend>

          <mat-form-field>

            <input matInput
                   placeholder="Monthly Subscription Plan Name (shown to subscribers)"
                   #titleHint
                   maxLength="60"
                   formControlName="monthlyPlanDescription">

          </mat-form-field>

          <mat-form-field>

            <input matInput placeholder="Monthly Plan Price (USD)" type="number" formControlName="monthlyPlanPrice">

          </mat-form-field>


        </fieldset>

        <fieldset>

          <legend>Yearly Plan</legend>

          <mat-form-field>

            <input matInput
                   placeholder="Yearly Subscription Plan Name (shown to subscribers)"
                   #titleHint
                   maxLength="60"
                   formControlName="yearlyPlanDescription">

          </mat-form-field>

          <mat-form-field>

            <input matInput placeholder="Yearly Plan Price (USD)" type="number" formControlName="yearlyPlanPrice">

          </mat-form-field>

        </fieldset>

        <fieldset>

          <legend>Lifetime Plan</legend>

          <mat-form-field>

            <input matInput placeholder="Lifetime Access Price (USD)" type="number"
                   formControlName="lifetimeAccessPrice">

          </mat-form-field>

        </fieldset>

        <button class="activate-button" mat-raised-button color="primary" [disabled]="!form.valid"
                (click)="setupPricingPlans()">
          Activate Subscription Plans
        </button>

      </div>


    </ng-template>

  </ng-container>

  <ng-template #connectToStripe>

    <div class="connect-with-stripe mat-elevation-z10" *ngIf="showConnectToStripe">

      <connect-with-stripe
        message="Connect with Stripe to activate subscription plans, and start collecting customer payments."></connect-with-stripe>

    </div>

  </ng-template>

</div>
