<div class="desktop-container pricing-screen">


  <h1 class="page-title">Subscription Plans - Cancel Anytime</h1>


  <div class="pricing-plans">


    <mat-card class="mat-elevation-z10 pricing-plan">

      <mat-card-header>
        <mat-toolbar color="primary">Monthly</mat-toolbar>
      </mat-card-header>

      <mat-card-content>

        <div class="prices">
          <div class="price">$9.99 / Month</div>
        </div>

        <ul class="features">
          <li>Access All Courses</li>
          <li>All Ebooks</li>
          <li>Access all Future Videos</li>
          <li>Webstorm 3 Month License</li>
        </ul>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">Access All Courses</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="mat-elevation-z10 pricing-plan">
      <mat-card-header>
        <mat-toolbar color="primary">Yearly</mat-toolbar>
      </mat-card-header>

      <mat-card-content>

        <div class="prices">
          <div class="price">$99 / Year</div>
          <div class="undiscounted-price">
            <span class="strikethrough-price">$119.88</span>
            <span class="discount">(17% Off)</span>
          </div>
        </div>

        <ul class="features">

          <li>Best Value</li>
          <li>Ideal for Training Request</li>
          <li>Webstorm 3 Month License</li>
          <li>Access All Courses</li>
          <li>All Ebooks</li>
          <li>Access all Future Videos</li>

        </ul>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="accent">Access All Courses</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="mat-elevation-z10 pricing-plan">

      <mat-card-header>
        <mat-toolbar color="primary">Lifetime</mat-toolbar>
      </mat-card-header>

      <mat-card-content>

        <div class="prices">
          <div class="price">$399 / Forever!</div>
        </div>

        <ul class="features">
          <li>Lifetime Acess To All Content!</li>
          <li>Webstorm 3 Month License</li>
          <li>Access All Courses</li>
          <li>All Ebooks</li>
          <li>Access all Future Videos</li>
          <li>Instructor Support</li>
        </ul>

      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button color="primary">Access All Courses</button>
      </mat-card-actions>
    </mat-card>

  </div>

  <div class="powered-by">

    <img src="https://angular-academy.s3.amazonaws.com/powered_by_stripe_v2.png">

  </div>

  <div class="text-box">

    <ul >
      <li>Does your employer sponsor online training? Consider requesting a one year or lifetime subscription as a training request (see FAQ below, multiple options available).</li>
      <li>50% student discount available, simply email us at helpdesk@angular-university.io to get your discount.</li>
      <li>From Brasil, India, elsewhere? Get your fair geographical discount at helpdesk@angular-university.io.</li>
      <li>Free for teachers, discounts available for educational institutions, please email us at helpdesk@angular-university.io</li>
      <li>Try the Webstorm IDE during 3 months for free (license upon request, see FAQ for how to get a license).</li>
    </ul>

  </div>


  <div class="faq-section">

    <h1 class="page-title">FAQ</h1>

    <div class="faq">

      <div class="faq-question">Tell me about the Webstorm 3 Month Free license?</div>

      <div class="faq-answer">
        Webstorm is the IDE used for all lessons, and it rocks ! With an Angular University subscription you have the
        right to a 3 month free license if you want to, this gives you enough time to build a personal project or even a
        POC for a small business. Simply email us at helpdesk@angular-university.io and you will get your license code
        ASAP.
      </div>

    </div>

    <div class="faq">

      <div class="faq-question">
        Can my employer sponsor my subscription?
      </div>

      <div class="faq-answer">
        Yes, this is available either for a one year request or lifetime access. Please first request your employer
        permission, then one way is to pay with your own card and either expense the receipt to your employer.
      </div>

    </div>

  </div>

</div>
