

.messages {
  position: relative;
  width: 100%;
}

.message {
  line-height: 22px;
}

@mixin message() {
  color:white;
  text-rendering: optimizeLegibility;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
}

.normal-messages {
  padding: 16px;
}

.dialog-messages {
  padding: 10px;
  margin-bottom: 20px;
}

.messages-error {
  @include message();
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.messages-info {
  @include message();
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.messages-warn {
  @include message();
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.messages-success {
  @include message();
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.close-icon {
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
}
