
$error-background:#e04648;
$error-border-color:#c24748;


$warn-background: #efb207;
$warn-border-color: #daa207;

$info-background: #2196f3;
$info-border-color: #138dc8;

$success-background: #4caf50;
$success-border-color: #6a7d67;

.messages {
  position: relative;
  width: 100%;
}

.message {
  line-height: 22px;
}

@mixin message-type($background, $border-color) {
  color:white;
  background: $background;
  border-top: 5px solid $border-color;
  padding: 20px;
  text-rendering: optimizeLegibility;
}

.messages-error {
  @include message-type($error-background, $error-border-color);
}

.messages-info {
  @include message-type($info-background,  $info-border-color);}

.messages-warn {
  @include message-type($warn-background, $warn-border-color);
}

.messages-success {
  @include message-type($success-background,  $success-border-color);
}

.close-icon {
  position: absolute;
  right: 10px;
  top:10px;
  cursor: pointer;
}
