
<mat-expansion-panel
                     class="lesson-item"
                     #panel
                     [expanded]="expanded"
                     [ngClass]="expandedCss(panel.expanded)"
                     (expandedChange)="onExpanded($event)">

  <mat-expansion-panel-header (mouseenter)="mouseOver = true" (mouseleave)="mouseOver = false">
    <mat-panel-title>
      <span class="lecture-number">Lecture {{index + 1}}:</span>
      <mat-icon>play_circle_outline</mat-icon>
    </mat-panel-title>
    <mat-panel-description class="panel-description">
      <button class="add-content" mat-raised-button color="primary" *ngIf="!lesson.thumbnail">Add Content</button>
      {{lesson.title}}
      <div class="filler"></div>
      <mat-icon class="draggable drag-lesson" [@fadeIn] *ngIf="mouseOver">drag_handle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <edit-lesson [course]="course" [lesson]="lesson"></edit-lesson>

</mat-expansion-panel>
