@import "~@angular/material/theming";
@import "../common";

.section-number {
  font-weight: bold;
}

.section-title {
  margin-bottom: 20px;
}

.course-section {
  margin: 25px 15px;
  background: rgba(0, 0, 0, .03);
  padding: 30px 15px 15px 15px;
}

.section-title-text {
  font-weight: normal;
}

.lecture-number {
  width: 95px;
}

.mat-expansion-panel-header-title {
  flex-grow: 0;
}

.section-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  color:$dark-secondary-text;
  align-items: center;
}

.section-button {
  margin-right: 10px;
    span {
      vertical-align: middle;
      margin-right: 3px;
    }
}

.add-lesson {
  margin-right: 10px;
  margin-bottom: 5px;
}

.add-section-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 10px;
  color: $dark-secondary-text;
}

.add-section {
  margin-top: 10px;
}

.lessons-toolbar {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .help {
    display: flex;
    align-items: center;
    color: $dark-secondary-text;
    font-size: 12px;
    margin-right: 15px;
    margin-top: 10px;
    span {
      margin-right: 2px;
    }
    @include mat-icon-size(17px);
  }

}
