@import "~@angular/material/theming";
@import "../common";

.section-number {
  font-weight: bold;
}

.section-title {
  margin-bottom: 20px;
  display: flex;
}

.drag-section {
  margin-right: 10px;
}

.course-section {
  margin: 15px 15px;
  background: rgba(0, 0, 0, .03);
  padding: 30px 15px 15px 15px;
}

.section-title-text {
  font-weight: normal;
}

.lecture-number {
  width: 95px;
}

.mat-expansion-panel-header-title {
  flex-grow: 0;
}

.section-button {
  margin-right: 10px;
  font-size: 15px;
    span {
      margin-right: 3px;
    }
}

.add-lesson {
  margin-right: 10px;
  margin-bottom: 5px;
}

.add-section-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 10px;
}

.add-section {
  margin-top: 10px;
}

