

<div class="lessons-toolbar">
  <div class="help">
    <span>Video Help</span>
    <mat-icon>help</mat-icon>
  </div>
</div>


<div class="course-section mat-elevation-z7">

  <div class="section-title">
    <span class="section-number">Section 1:</span>
    <span class="section-title-text">Introduction to Authentication with JWT</span>
  </div>


  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="lecture-number" fxHide.lt-lg="true">Lecture 1:</span>
        <mat-icon>play_circle_outline</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        Angular Security Course Helicopter View
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>


  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="lecture-number" fxHide.lt-lg="true">Lecture 2:</span>
        <mat-icon>play_circle_outline</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        The Typescript Jumpstart Ebook
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>


  <mat-expansion-panel expanded="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="lecture-number" fxHide.lt-lg="true">Lecture 100:</span>
        <mat-icon>play_circle_outline</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        Installing Git, Node, NPM and Choosing an IDE
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>



  <div class="section-buttons">

    <div class="section-button">
      <span>Bulk Upload:</span>
      <button class="add-lesson" mat-mini-fab color="primary"><mat-icon>cloud_upload</mat-icon></button>
    </div>

    <div class="section-button">
      <span>Add Lesson:</span>
      <button class="add-lesson" mat-mini-fab color="accent"><mat-icon>add</mat-icon></button>
    </div>
  </div>


</div>


<div class="add-section-panel">
  <span>Add Course Section</span>
  <button class="add-section" mat-fab color="accent"><mat-icon>add</mat-icon></button>
</div>







