
<mat-expansion-panel class="course-section" expanded="true" *ngFor="let section of sections; let sectionNumber = index">

  <mat-expansion-panel-header collapsedHeight="90px" expandedHeight="130px">
    <mat-panel-title>
      <div class="section-header noselect">
          <div class="section-number">Section: {{sectionNumber + 1}}</div>
          <div class="section-title">{{section.title}}</div>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      <div class="section-data">
        <span>Completed: 0/12</span>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="lesson-row mat-row" *ngFor="let lesson of sectionLessons(section)"
       [routerLink]="['/courses', course.url, section.seqNo , 'lessons', lesson.seqNo]" [ngClass]="lessonClasses(lesson)">

    <div class="lesson-icon">
      <mat-icon>play_circle_outline</mat-icon>
    </div>

    <div class="lesson-number">
      {{lesson.seqNo}}.
    </div>

    <div class="lesson-description">
      {{lesson.title}}
    </div>

    <div class="filler"></div>

    <div class="lesson-pro" *ngIf="!playlistMode">
      <mat-icon class="pro-icon" *ngIf="!lesson.free" title="This is a Premium lesson">local_parking</mat-icon>
    </div>

    <div class="lesson-duration">

      {{lesson.videoDuration | duration}}
    </div>

    <div class="lesson-viewed">
      <mat-checkbox color="primary" (click)="onLessonViewedClicked($event, lesson)"></mat-checkbox>
    </div>

  </div>


</mat-expansion-panel>
