
@import "../vars";

.course-section {
  margin-bottom: 30px;
}

.section-header {
  display: flex;
  flex-direction: column;
}

.section-number {
  font-size: 14px;
}

.section-title {
  font-size: 20px;
}

.section-data {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  margin-right: 15px;
  font-size: 15px;
}


.lesson-row {
  display: flex;
  align-items: center;
  min-height: 48px;
  border-top: 1px solid rgba(0,0,0,.12);
  color:$text;
  cursor: pointer;
}

.lesson-row:hover {
  background: #f2f3f5;
  border-top-color: #f2f3f5;
}

:host::ng-deep .mat-expansion-panel-body {
  padding:  10px 0;
}


.lesson-icon {
  margin-left: 25px;
  flex: 0 0 35px;
  color: $dark-text;
  display: flex;
}

.lesson-number {
  flex: 0 0 30px;
}

.lesson-pro {
  flex: 0 0 25px;
}

.lesson-duration {
  flex: 0 0 55px;
  margin-left: 10px;
}

.lesson-viewed {
  margin-right: 25px;
}

.pro-icon {
  color: #fff;
  background: $accent;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  width: 20px;
  height: 20px;
}
