
<mat-expansion-panel class="course-section" expanded="true" *ngFor="let section of sections; let sectionNumber = index">

  <mat-expansion-panel-header collapsedHeight="90px" expandedHeight="130px">
    <mat-panel-title>
      <div class="section-header noselect">
          <div class="section-number">Section: {{sectionNumber + 1}}</div>
          <div class="section-title">{{section.title}}</div>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      <div class="section-data">
        <span>Completed: 0/12</span>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <lessons-list
   [course]="course"
   [sectionSeqNo]="section.seqNo"
   [lessons]="sectionLessons(section)"
   [lessonsWatched]="lessonsWatched"
   [playlistMode]="playlistMode">

  </lessons-list>

</mat-expansion-panel>
