
@import "../vars";








.section-button {
  margin-right: 10px;
  font-size: 15px;
    span {
      margin-right: 3px;
    }
}

.add-lesson {
  margin-right: 10px;
  margin-bottom: 5px;
}

.add-section-panel {
  &.empty-course {
    background: $secondary-light;
    min-height: 350px;
  }
}



.add-section {
  margin-top: 10px;
}

