
@import "../vars";
@import "../mixins";








.section-button {
  margin-right: 10px;
  font-size: 15px;
    span {
      margin-right: 3px;
    }
}

.add-lesson {
  margin-right: 10px;
  margin-bottom: 5px;
}

.add-section-panel {
  &.empty-course {
    background: $secondary-light;
    min-height: 350px;
  }
}



.add-section {
  margin-top: 10px;
}



.course-section {
  margin: 15px 15px 80px 15px;
  background: rgba(0, 0, 0, .03);
  padding: 30px 15px 20px 15px;
}

.lessons-container {
  min-height: 100px;
}

.section-number {
  font-weight: bold;
  margin-right: 8px;
}

.section-title {
  margin-bottom: 20px;
  display: flex;
  min-height: 24px;

}

.drag-section {
  margin-right: 10px;
  display: none;
}



.edit-button-container {
  margin-left: 5px;
  @include mat-icon-size(20px);
  cursor: pointer;
}



.move-section {
  margin-right: 20px;
  i {
    margin-left: 5px;
    color:$light-grey;
    cursor: pointer;
  }
}

.lesson-header {
  .drag-lesson {
    display: none;
  }
}


.lesson-header:hover {

  .drag-lesson {
    display: block;
  }

}


.section-title-text {
  font-weight: normal;
  cursor: pointer;
}

.bottom-toolbar {
  display: flex;
  margin-top: 15px;
  margin-right: 10px;
}



.add-lesson {
  margin-right: 5px;
  margin-bottom: 1px;
}




.lessons-list-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.move-section i {
  cursor: pointer;
}


.lesson-item {
  margin-bottom: 10px;
}


.lecture-number {
  width: 95px;
}



.panel-description {
  display: flex;
}

.add-content {
  height: 22px;
  font-size: 12px;
  line-height: 12px;
  margin-right: 5px;
}

::ng-deep .add-content.mat-raised-button {
  padding: 0 8px;
}

.mat-expansion-panel-header-title {
  flex-grow: 0;
}

.drag-lesson {
  margin-right: 20px;
}

@include drag-drop;
