
@import "../vars";
@import "../mixins";








.section-button {
  margin-right: 10px;
  font-size: 15px;
    span {
      margin-right: 3px;
    }
}

.add-lesson {
  margin-right: 10px;
  margin-bottom: 5px;
}

.add-section-panel {
  &.empty-course {
    background: $secondary-light;
    min-height: 350px;
  }
}



.add-section {
  margin-top: 10px;
}



.course-section {
  margin: 15px 15px 80px 15px;
  background: rgba(0, 0, 0, .03);
  padding: 30px 15px 20px 15px;
}

.lessons-container {
  min-height: 100px;
}

.section-number {
  font-weight: bold;
  margin-right: 8px;
}

.section-title {
  margin-bottom: 20px;
  display: flex;
  min-height: 24px;
}

.drag-section {
  margin-right: 10px;
  display: none;
}



.edit-button-container {
  margin-left: 5px;
  @include mat-icon-size(20px);
  cursor: pointer;
  display: none;
}

.section-title:hover {

  .edit-button-container, .drag-section {
    display: block;
  }

}


.section-title-text {
  font-weight: normal;
  cursor: pointer;
}

.bottom-toolbar {
  display: flex;
  margin-top: 15px;
}



.add-lesson {
  margin-right: 5px;
  margin-bottom: 1px;
}




.drag-drop-container {
  padding-top: 100px;
  padding-bottom: 100px;
}
