<ng-container *ngIf="(course$ | async) as course">

  <ng-container *ngIf="(sections$ | async) as sections">

    <edit-lessons-toolbar *ngIf="isCourseLoaded$ | async">

      <!-- action-button text="Bulk Upload" icon="cloud_upload"></action-button-->

      <action-button *ngIf="sections.length > 0" text="Preview Course" icon="video_library" color="primary"
                     [routerLink]="['/courses', course.url]"></action-button>

      <action-button *ngIf="course.status == 'draft' && sections?.length == 0"
                     text="Delete Course Draft" color="secondary"
                     icon="delete" (click)="deleteCourseDraft(course)">
      </action-button>

    </edit-lessons-toolbar>

    <div class="drag-drop-container lessons-list-container" cdkDropList (cdkDropListDropped)="dropLesson(course, sections, $event)">

      <ng-container *ngFor="let section of sections; let first = first, let last = last">

        <div class="course-section mat-elevation-z7">

          <div class="section-title">
            <span class="section-number">Section {{section.seqNo}}: </span>
            <span class="section-title-text" (click)="editSectionTitle(course,section)"> {{section.title}}</span>

            <div class="edit-button-container"(click)="editSectionTitle(course,section)">
              <mat-icon>edit</mat-icon>
            </div>

            <div class="filler"></div>

            <div class="move-section">

              <i class="fas fa-chevron-circle-up"  *ngIf="!first && sections?.length > 0"
                 matTooltip="Move this section up the list" (click)="onSectionUp(course, sections, section)"></i>

              <i class="fas fa-chevron-circle-down"  *ngIf="!last && sections?.length > 0"
                 matTooltip="Move this section down the list" (click)="onSectionDown(course, sections, section)"></i>

            </div>

          </div>

          <ng-container *ngIf="(allLessons$ | async) as allLessons">

            <div class="lessons-container" *ngIf="findLessonsForSection(section, allLessons) as result">

              <mat-expansion-panel
                *ngFor="let lesson of result.sectionLessons; let index = index"
                class="lesson-item drag-drop-item"
                #panel
                [expanded]="expandedLessons[lesson.id]"
                (expandedChange)="onExpandLesson(lesson, $event)"
                cdkDrag>

                <mat-expansion-panel-header class="lesson-header">
                  <mat-panel-title>
                    <span class="lecture-number">Lecture {{ result.sectionStartIndex + index + 1 }}:</span>
                    <mat-icon>play_circle_outline</mat-icon>
                  </mat-panel-title>
                  <mat-panel-description class="panel-description noselect">
                    <button class="content-status" mat-raised-button color="primary" *ngIf="!lesson.thumbnail">Add Content</button>
                    <button class="content-status" mat-raised-button color="primary" *ngIf="lesson.status == 'ready'">Publish</button>
                    {{lesson.title}}
                    <div class="filler"></div>
                    <mat-icon class="draggable drag-lesson" cdkDragHandle>drag_handle</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <edit-lesson [course]="course" [lesson]="lesson"></edit-lesson>

              </mat-expansion-panel>


              <div class="bottom-toolbar">

                <action-button
                  color="accent" icon="delete" color="secondary" (click)="deleteSection(course, section)"
                  title="Delete empty section" *ngIf="result.sectionLessons?.length == 0">

                </action-button>

                <div class="filler"></div>

                <action-button class="add-lesson" text="Add Lesson" color="accent" icon="add"
                               (click)="addLesson(course, section)"></action-button>

              </div>

            </div>

          </ng-container>

        </div>

      </ng-container>

    </div>

    <div class="add-button-panel add-section-panel" [ngClass]="emptyCourseCss(course, sections)" *ngIf="isCourseLoaded$ | async">

      <span>Add Course Section</span>
      <button class="add-section" mat-fab color="accent" (click)="addSection(course)">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </ng-container>

</ng-container>


