<ng-container *ngIf="(course$ | async) as course">

  <edit-lessons-toolbar>

    <action-button text="Bulk Upload" icon="cloud_upload"></action-button>

    <action-button *ngIf="course.status == 'draft'"
                   text="Delete Course Draft" color="secondary"
                   icon="delete" (click)="deleteCourseDraft(course)">
    </action-button>

  </edit-lessons-toolbar>

  <ng-container *ngIf="(courseSections$ | async) as courseSections">

    <div class="course-section mat-elevation-z7" *ngFor="let section of courseSections; let last = last">

      <div class="section-title">
        <span class="section-number">Section {{section.seqNo}}: </span>
        <span class="section-title-text"> {{section.title}}</span>
        <div class="filler draggable"></div>
        <mat-icon class="drag-section draggable">drag_handle</mat-icon>
      </div>

      <mat-expansion-panel expanded="false" *ngFor="let lesson of section.lessons">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="lecture-number" fxHide.lt-lg="true">Lecture {{lesson.seqNo}}:</span>
            <mat-icon>play_circle_outline</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            {{lesson.title}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <edit-lesson [lesson]="lesson"></edit-lesson>
      </mat-expansion-panel>

      <div class="bottom-toolbar">

        <action-button
              color="accent" icon="delete" color="secondary" (click)="deleteSection(course, section)"
              title="Delete empty section">

        </action-button>

        <div class="filler"></div>

        <action-button text="Add Lesson" color="accent" icon="add" (click)="addLesson(course,section)"></action-button>

      </div>

    </div>

  </ng-container>


  <div class="course-section mat-elevation-z7">

    <div class="section-title">
      <span class="section-number">Section 2: </span>
      <span class="section-title-text">Angular Authorization</span>
      <div class="filler draggable"></div>
      <mat-icon class="drag-section draggable">drag_handle</mat-icon>
    </div>


    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="lecture-number" fxHide.lt-lg="true">Lecture 1:</span>
          <mat-icon>play_circle_outline</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Angular Security Course Helicopter View
        </mat-panel-description>
      </mat-expansion-panel-header>
      <edit-lesson></edit-lesson>
    </mat-expansion-panel>


    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="lecture-number" fxHide.lt-lg="true">Lecture 2:</span>
          <mat-icon>play_circle_outline</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          The Typescript Jumpstart Ebook
        </mat-panel-description>
      </mat-expansion-panel-header>
      <edit-lesson></edit-lesson>
    </mat-expansion-panel>


    <mat-expansion-panel expanded="false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="lecture-number" fxHide.lt-lg="true">Lecture 100:</span>
          <mat-icon>play_circle_outline</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Installing Git, Node, NPM and Choosing an IDE
        </mat-panel-description>
      </mat-expansion-panel-header>
      <edit-lesson></edit-lesson>
    </mat-expansion-panel>


    <div class="bottom-toolbar">

      <div class="filler"></div>

      <action-button text="Add Lesson" color="accent" icon="add" (click)="addLesson()"></action-button>

    </div>


  </div>





  <div class="add-section-panel">

    <span>Add Course Section</span>
    <button class="add-section" mat-fab color="accent" (click)="addSection(course)">
      <mat-icon>add</mat-icon>
    </button>
  </div>


</ng-container>


