<ng-container *ngIf="(homePageContent$ | async) as content">

  <div class="home-banner" [ngStyle]="homeBannerStyles(content)">

    <img class="company-logo" [src]="content.logoImageUrl" *ngIf="content.logoImageUrl">

    <div class="banner-content">

      <h1 class="page-title" [ngStyle]="calculateTitleStyles(content)">{{content.pageTitle}}</h1>

      <div class="cta-buttons">

        <button class="cta-button" mat-raised-button color="accent" *ngIf="isLoggedOut$ | async"
          (click)="onSignupClicked()">

          <mat-icon>account_circle</mat-icon>

          Sign up Now

        </button>

        <button class="cta-button" mat-raised-button color="accent"
                *ngIf="isLoggedIn$ | async"
                routerLink="/courses">

          <mat-icon>library_books</mat-icon>

          View Courses

        </button>

        <button class="cta-button edit-button" mat-raised-button *allowRole="'ADMIN'" (click)="editPageHeader(content)">

          <mat-icon>mode_edit</mat-icon>

          Edit Header
        </button>

      </div>

    </div>

  </div>

  <div class="home-body">

    <div class="benefits">

      <editable-container *ngFor="let benefit of content.benefits; let index = index"
                          [editModeEnabled]="editModeEnabled"
                          (editRequested)="onBenefitEdited(content, index)">
        <div class="benefit">
          <h3 [innerHtml]="benefit.title"></h3>
          <p class="benefit-text" [innerHtml]="benefit.description"></p>
        </div>
      </editable-container>

    </div>

    <div class="scroll-down">

      <mat-icon>arrow_drop_down_circle</mat-icon>

    </div>


    <div class="latest-lessons">

      <latest-lessons-list></latest-lessons-list>

    </div>

  </div>

</ng-container>

