
.banner {
  background-image: url('https://angular-academy.s3.amazonaws.com/banner-small.jpg');
  background-repeat: no-repeat;
}

.header-logo {
  display: flex;
  flex-direction: column;
}

.benefits {
  display: flex;
}

.benefit {

}


