

<div class="banner">

  <div class="header-logo">

    <img class="" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

    <h1>Learn and Keep Up with the Angular Ecosystem</h1>

    <button class="cta-button" mat-raised-button color="accent">
      Sign Up and get the Angular for Beginners Course FREE
    </button>

  </div>

</div>


<div class="benefits">

  <div class="benefit">
    <h3>Courses Updated To Angular 7</h3>
    <p>Learn Angular in a fast and effective way: via a series of short lessons (about 5m) that cover a single well-contained topic, lessons updated ASAP with releases.</p>
  </div>



</div>


<div class="scroll-down">

  <mat-icon>arrow_drop_down_circle</mat-icon>

</div>


<div class="latest-lessons">



</div>
