
@import "../vars";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 63px;
}

.home-banner {
  width: 100%;
  min-height:500px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .company-logo {
    max-height: 300px;
    margin-top: 40px;
  }

  .page-title {
    color: white;
    text-shadow: 1px 1px black;
  }

  .cta-button {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 40px;
    margin-right: 15px;

    &.edit-button {
      color: $dark-text;
    }
  }

  .banner-content {
    justify-self: center;
     display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.home-body {
  max-width: 1000px;
  color:$dark-text;
}


.benefits {
  display: flex;

  .benefit {
    width: 283px;
  }

  .benefit:first-child {
    margin-right: 25px;
  }

  .benefit:last-child {
    margin-left: 25px;
  }

  .benefit-text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 0;
  }



}

.scroll-down {
  display: flex;
  justify-content: center;
  padding: 30px 0;

  mat-icon {
    cursor: pointer;
    font-size: 50px;
    height: 48px;
    width: 50px;
  }
}


