<mat-divider></mat-divider>

<div class="video-details">

  <file-upload #fileUpload class="lesson-thumbnail mat-elevation-z2" [src]="videoThumbnailPath()"
               height="70px" width="124px" accept="video/mp4" (fileSelected)="onFileSelected($event)">

  </file-upload>

  <div class="video-text-details">

    <div class="filename" *ngIf="lesson?.originalFileName">
      <span>{{lesson?.originalFileName}}</span>
    </div>

    <div>{{lesson?.videoDuration | duration}}</div>

    <div class="filler"></div>

    <div *ngIf="(percentageUpload$ | async) as percentage">

      <div class="upload-progress-container">

        <div class="upload-progress">

          <span>{{percentage / 100 | percent}}</span>

          <mat-progress-bar class="file-upload-progress" mode="determinate" [value]="percentage"></mat-progress-bar>

        </div>

        <mat-icon class="cancel-upload" title="Cancel upload" (click)="cancelUpload()">delete_forever</mat-icon>

      </div>

    </div>


    <div *ngIf="isProcessing()">
      <span class="status-ongoing">PROCESSING</span>
      <span> (should finish in 1 minute)</span>
      <mat-progress-bar class="file-upload-progress" mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="isError()">
      <span class="status-error">PROCESSING FAILED</span>
      <span>Something went wrong, please re-upload.</span>
    </div>

  </div>

</div>

<div [formGroup]="form">
  <mat-form-field class="lesson-description">
    <mat-label>Lesson Title</mat-label>
    <input matInput placeholder="Lesson Title" formControlName="title">
  </mat-form-field>

  <mat-slide-toggle color="primary" formControlName="free">
    Free Lesson
  </mat-slide-toggle>

</div>


<collapsible-trigger class="edit-lesson-descr"
                     label="Edit Lesson Description (Optional):"
                     #trigger
                     (toggle)="toggleEditLesson()">

</collapsible-trigger>

<collapsible-panel [trigger]="trigger">

  <quill-editor
    [(ngModel)]="lessonDescription"
    [modules]="modules"
    [style]="{height: '200px'}"
    placeholder="Enter lesson description here...">

  </quill-editor>

</collapsible-panel>

<div class="lesson-actions">

  <action-button
    color="accent" icon="delete" color="secondary" (click)="deleteLesson()"
    title="Delete lesson" *ngIf="isDraft">

  </action-button>

  <div class="filler"></div>

  <button mat-raised-button color="warn" *ngIf="isPublished()">Unpublish</button>

  <button mat-raised-button color="basic" *ngIf="lesson?.originalFileName" (click)="fileUpload.open()">Replace Video
  </button>

  <button mat-raised-button color="basic" (click)="saveLesson()">Save</button>

  <button mat-raised-button color="accent" *ngIf="!isReady()" (click)="fileUpload.open()">Upload MP4 Video</button>

  <button mat-raised-button color="accent" *ngIf="isReady()">Publish Now</button>

</div>

