<mat-divider></mat-divider>


<div class="video-details">

  <file-upload #fileUpload class="lesson-thumbnail mat-elevation-z2" [src]="videoThumbnailPath()"
               height="70px" width="124px" accept="video/*" (fileSelected)="onFileSelected($event)">

  </file-upload>

  <div class="video-text-details">

    <div class="filename" *ngIf="lesson?.videoFileName">
      <span>{{extractFileName(lesson?.videoFileName)}}</span>
    </div>

    <div>{{durationInMinutes(lesson?.videoDuration)}}</div>

    <div class="filler"></div>

    <div *ngIf="(percentageUpload$ | async) as percentage">

      <div class="upload-progress-container">

        <div class="upload-progress">

          <span>{{percentage / 100 | percent}}</span>

          <mat-progress-bar class="file-upload-progress" mode="determinate" [value]="percentage"></mat-progress-bar>

        </div>

        <mat-icon class="cancel-upload" title="Cancel upload" (click)="cancelUpload()">delete_forever</mat-icon>

      </div>

    </div>


    <div *ngIf="isProcessing()">
      <span class="status-ongoing">PROCESSING</span>
      <span>(should finish soon)</span>
    </div>

    <div *ngIf="isError()">
      <span class="status-error">PROCESSING FAILED</span>
    </div>

  </div>

</div>

<div [formGroup]="form">
  <mat-form-field class="lesson-description">
    <mat-label>Lesson Title</mat-label>
    <input matInput placeholder="Lesson Title" formControlName="title">
  </mat-form-field>

  <mat-slide-toggle color="primary" formControlName="free">
    Free Preview
  </mat-slide-toggle>

</div>

<div class="edit-lesson-descr" (click)="toggleEditLesson()">

  <div>Edit Lesson Description (Optional):</div>

  <mat-icon class="edit-descr-btn"  *ngIf="!editDescriptionExpanded">expand_more</mat-icon>
  <mat-icon class="edit-descr-btn" *ngIf="editDescriptionExpanded">expand_less</mat-icon>

</div>


<app-ngx-editor class="text-editor" *ngIf="editDescriptionExpanded"
  height="50px"
  placeholder="(Optional)"
  [spellcheck]="true"
  [toolbar]="toolbar"
  [(ngModel)]="lessonDescription">

</app-ngx-editor>

  <div class="lesson-actions">

    <action-button
      color="accent" icon="delete" color="secondary" (click)="deleteLesson()"
      title="Delete lesson" *ngIf="isDraft">

    </action-button>

    <div class="filler"></div>

    <button mat-raised-button color="warn" *ngIf="isPublished()">Unpublish</button>

    <button mat-raised-button color="basic" *ngIf="lesson?.videoFileName" (click)="fileUpload.open()">Replace Video
    </button>

    <button mat-raised-button color="basic" (click)="saveLesson()">Save</button>

    <button mat-raised-button color="accent" *ngIf="!isReady()" (click)="fileUpload.open()">Upload Video</button>

    <button mat-raised-button color="accent" *ngIf="isReady()">Publish Now</button>

  </div>

