<mat-divider></mat-divider>


<div class="video-details">

  <img
    src="https://i.ytimg.com/vi/vEWWYNbSjNk/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCykyzSucDyKjC4ma9zcOPZ6SY30A">

  <div class="video-text-details">

    <div class="filename">
      <span>02 Installing Git, Node, NPM and Choosing an IDE.mp4</span>
      <mat-icon class="delete-lesson">delete</mat-icon>
    </div>

    <div>04:17</div>

  </div>

</div>

<div [formGroup]="form">
  <mat-form-field class="lesson-description">
    <mat-label>Lesson Title</mat-label>
    <input matInput placeholder="Lesson Title" formControlName="title">
  </mat-form-field>

  <mat-slide-toggle color="primary" formControlName="free">
    Free Preview
  </mat-slide-toggle>

  <div class="section-label">Lesson Description</div>

  <app-ngx-editor
    height="80px"
    placeholder="(Optional)"
    [spellcheck]="true"
    [toolbar]="toolbar"
    [(ngModel)]="lessonDescription">

  </app-ngx-editor>

</div>


<div class="lesson-actions">

  <action-button
    color="accent" icon="delete" color="secondary" (click)="deleteLesson()"
    title="Delete lesson" *ngIf="isDraft">

  </action-button>

  <div class="filler"></div>

  <button mat-raised-button color="warn" *ngIf="isPublished()">Unpublish</button>

  <button mat-raised-button *ngIf="lesson?.fileName">Replace Video</button>

  <button mat-raised-button color="secondary" (click)="saveLesson()">Save</button>

  <button mat-raised-button color="primary" *ngIf="isDraft()">Publish Now</button>

</div>

