

@import '../vars';

.video-details {
  display: flex;
  margin-top: 20px;
  .video-text-details {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  img {
    height: 70px;
  }
}

.filename {
  display: flex;
  align-items: center;
  .delete-lesson {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
  }
}


.lesson-description {
  margin-top: 20px;
  width: 100%;
}


.lesson-actions {
  margin-top: 30px;
  margin-bottom: 10px;
   display: flex;
   align-items: flex-end;

  button {
    margin-right: 5px;
  }
}


.file-upload {
  display: none;
}


.upload-progress-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;

}


.upload-progress {
  display: flex;
  flex-direction: column;
  align-items: flex-end;


  span {
    margin-left: 8px;
  }
}

.cancel-upload {
  cursor:pointer;
  display: inline;
  margin-left: 5px;
}


.lesson-thumbnail {
  border-radius: 4px;
  cursor: pointer;
}


.file-upload-progress {
  width: 300px;
}

.status-error {
  font-weight: bold;
  color: $warn;
}

.status-ongoing {
  font-weight: bold;
  color: $accent;
}


.edit-lesson-descr {
  display: flex;
  align-items: center;
  margin: 20px 0 10px 0;
  cursor: pointer;
}


.edit-descr-btn {
  margin-left: 3px;
}


.text-editor::ng-deep .ngx-editor  {
  max-width: 890px;
}

