<div class="desktop-container">

  <mat-card class="card-section">

    <mat-toolbar color="primary">My Subscription</mat-toolbar>

    <mat-card-content>

      <div class="subscription-fields" *ngIf="(user$ | async) as user">

        <div>
          <mat-form-field appearance="outline">
            <mat-label>Your subscription</mat-label>
            <input matInput [value]="subscriptionDescr(user)" disabled>
            <mat-icon matSuffix>{{isSubscriptionActive(user)? 'check_circle_outline' : 'close'}}</mat-icon>
          </mat-form-field>
        </div>

        <div *ngIf="isSubscriptionActive(user) && !isSubscriptionCancelled(user)">
          <mat-form-field appearance="outline">
            <mat-label>{{ isLifetimeSubscriber(user) ? 'End Date' : 'Activation Date' }}</mat-label>
            <ng-container *ngIf="!isLifetimeSubscriber(user); else neverExpires">
              <input matInput [value]="activationDate(user) | date:'longDate'" disabled>
            </ng-container>
            <ng-template #neverExpires>
              <input matInput value="Never expires" disabled>
            </ng-template>
            <mat-icon matSuffix>date_range</mat-icon>
          </mat-form-field>
        </div>

        <div *ngIf="user.planEndsAt">
          <mat-form-field appearance="outline">
            <mat-label> Plan cancelled, valid until:</mat-label>
            <input matInput [value]="validUntil(user) | date:'longDate'" disabled>
            <mat-icon matSuffix>date_range</mat-icon>
          </mat-form-field>
        </div>

      </div>

    </mat-card-content>

    <div class="card-actions" *ngIf="(user$ | async) as user">

      <button mat-raised-button color="accent" routerLink="/subscription" [disabled]="isLifetimeSubscriber(user)  || (isSubscriptionActive(user) && !isSubscriptionCancelled(user))">
        New Subscription
      </button>

      <button mat-stroked-button color="warn" (click)="cancelPlan(user)" [disabled]="isLifetimeSubscriber(user)  || (!isSubscriptionActive(user) || isSubscriptionCancelled(user))">
        Cancel Subscription
      </button>

    </div>


  </mat-card>

</div>


