
<div class="desktop-container">

  <mat-card class="brand-colors">

    <mat-toolbar color="primary">Brand Colors</mat-toolbar>

    <mat-card-content>

      <form class="branding-form">

        <div class="color-field">

          <div class="color-sample mat-elevation-z3" [style.background]="primaryColor" (click)="openPrimaryPicker()">

            <mat-icon>palette</mat-icon>

          </div>

          <mat-form-field>
            <mat-label>Brand Primary Color:</mat-label>
            <input matInput [(colorPicker)]="primaryColor" [(ngModel)]="primaryColor" name="primaryColor" #primaryPicker
                   cpPosition="bottom" [placeholder]="'Example: ' + primaryColor">
          </mat-form-field>

        </div>


        <div class="color-field">

          <div class="color-sample mat-elevation-z3" [style.background]="accentColor" (click)="openAccentPicker()">

            <mat-icon>palette</mat-icon>

          </div>

          <mat-form-field>
            <mat-label>Brand Accent Color:</mat-label>
            <input matInput [(colorPicker)]="accentColor" cpPosition="bottom"  [(ngModel)]="accentColor" name="accentColor" #accentPicker
                   [placeholder]="'Example: ' + accentColor">
          </mat-form-field>

        </div>

      </form>


    </mat-card-content>

    <div class="branding-actions">

      <button mat-raised-button color="primary" (click)="saveBrandColors()">Save</button>

    </div>

  </mat-card>

</div>


