@import "../../mixins";

.branding {
  margin-top: 150px;
}

.brand-colors {
  padding: 0;
  & mat-card-content {
    padding: 16px;
  }
}
.color-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.color-sample {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.branding-form {

  margin-left: 10px;
  @include single-col-form();

  .color-field:first-child {
     margin-top: 10px;
  }
}

.branding-actions {
  @include form-card-actions;
}
