
<div class="desktop-container">

  <mat-card class="card-section">

    <mat-toolbar color="primary">Brand Colors</mat-toolbar>

    <mat-card-content>

      <form class="branding-form">

        <color-field
          [color]="primaryColor"
          label="Brand Primary Color"
          (colorEdited)="onPrimaryColorChanged($event)">

        </color-field>

        <color-field
          [color]="accentColor"
          label="Brand Accent Color"
          (colorEdited)="onAccentColorChanged($event)">

        </color-field>

      </form>


    </mat-card-content>

    <div class="branding-actions">

      <button mat-raised-button color="primary" (click)="saveBrandColors()">Save</button>

    </div>

  </mat-card>

</div>


