<div class="question item mat-elevation-z7">

  <div class="item-body">

    <img class="user-picture" [src]="question.userPictureUrl">

    <div class="details">

      <div>

        <div class="title">{{question.title}}</div>
        <div class="user-details">
          <span class="display-name">{{question.userDisplayName}} - </span>
          <span class="timestamp">{{questionTimeAgo}}</span>
          <span *ngIf="showGoToLessonLink">
            <a class="go-to-lesson" href="javascript:void(0)" (click)="goToLesson()">Go to lesson</a>
          </span>
        </div>

        <div class="text-block" [innerHTML]="question.questionText"></div>

      </div>

    </div>

    <div class="filler"></div>

    <div class="stats">
      <span class="replies-count" matTooltip="number of replies">{{question.repliesCount}}</span>
      <mat-icon matTooltip="number of replies">chat_bubble</mat-icon>
    </div>

  </div>

  <div class="bottom-toolbar">
    <button class="open-answers-btn" mat-raised-button color="primary" (click)="openAnswers()" *ngIf="!showAnswers && question.repliesCount > 0">
      <mat-icon>arrow_forward_ios</mat-icon>
      View Answers
    </button>

    <button class="back-button close-answers-btn" mat-raised-button color="primary" (click)="backToQuestions()" *ngIf="showAnswers">
      <mat-icon>arrow_back_ios</mat-icon>
      Hide Answers
    </button>
    <div class="filler"></div>
    <action-button icon="delete" color="basic" matTooltip="Delete question" *ngIf="isOwner() && question.repliesCount <= 0" (click)="onDeleteQuestion()"></action-button>
    <action-button icon="mode_edit" color="basic" matTooltip="Edit question" *ngIf="isOwner()" (click)="onEditQuestion()"></action-button>
    <action-button text="Add answer" icon="add" color="accent" (click)="onAddAnswer()" *ngIf="!showAnswers"></action-button>
  </div>

  <div class="answers" *ngIf="showAnswers">

    <div class="container">

      <div class="item" *ngFor="let answer of (answers$ | async)">

        <div class="item-body">

          <img class="user-picture" [src]="question.userPictureUrl">

          <div class="details">

            <div class="data">

              <span class="display-name">{{answer.userDisplayName}}</span>

              <span class="timestamp">{{calculateTimeAgo(answer.createdAt)}}</span>

            </div>

            <div class="text-block" [innerHTML]="answer.answerText"></div>

          </div>

        </div>

        <div class="bottom-toolbar">
          <div class="filler"></div>
          <action-button icon="delete" color="basic" matTooltip="Delete answer" *ngIf="isOwner()" (click)="onDeleteAnswer(answer)"></action-button>
          <action-button icon="mode_edit" color="basic" matTooltip="Edit answer" *ngIf="isOwner()" (click)="onEditAnswer(answer)"></action-button>
        </div>

      </div>

      <div class="bottom-toolbar">
        <div class="filler"></div>
        <action-button text="Add answer" icon="add" color="accent" (click)="onAddAnswer()"></action-button>
      </div>

    </div>

  </div>

</div>
