

.contact-form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.contact-title {
  margin-bottom: 10px;
}

.contact-message {
  margin-bottom: 30px;
}

.send-btn {
  margin-top: 20px;
}



::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em;
}


::ng-deep .mat-form-field-infix {
  border-top: 0.42em solid transparent;
}
