<h2 mat-dialog-title>Create New Coupon</h2>

<messages></messages>

<loading></loading>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>

    <input class="uppercase" matInput
           placeholder="Coupon Code"
           formControlName="code">

    <mat-hint align="end">Your coupon code must be between 6 and 20 characters. It can only contain alphanumeric characters (A-Z, 0-9), dashes ("-") or underscores ("_"). All letters must be CAPITAL.</mat-hint>

  </mat-form-field>

  <div class="form-field-error" *ngIf="couponCodeExists()">This coupon code already exists, please choose another one.</div>

  <div class="toggle-command free-command">
    <mat-slide-toggle color="primary" formControlName="free" (change)="onFreeToggled($event)">
      Free Coupon
    </mat-slide-toggle>

    <div class="field-hint">Free coupons are a great way of building your mailing list.</div>

  </div>

  <mat-form-field>

    <input matInput placeholder="Discounted price (USD)" type="number" formControlName="price">

  </mat-form-field>

  <mat-form-field>

    <input matInput placeholder="Number of coupons" type="number" formControlName="remaining">

  </mat-form-field>


  <mat-form-field>

    <input matInput [matDatepicker]="dealinePicker" [min]="today" placeholder="Coupon dealine (optional)"
           formControlName="deadline" (click)="dealinePicker.open()">

    <mat-datepicker-toggle matSuffix
                           [for]="dealinePicker">

    </mat-datepicker-toggle>

    <mat-datepicker #dealinePicker></mat-datepicker>

  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">

  <button class="mat-raised-button"
          (click)="close()">
    Close
  </button>

  <button class="mat-raised-button mat-primary"
          (click)="save()" [disabled]="!form.valid">
    Create Coupon
  </button>

</mat-dialog-actions>


