
@import "../vars";
@import "../mixins";


.course-image {
  margin-bottom: 30px;
}


:host app-ngx-editor ::ng-deep {
  color:$text;
  b {
    color:$dark-text;
  }
}

.image-processing {
  font-size: 13px;
  margin-bottom: 5px;
}
