
@import "../vars";
@import "../mixins";


.course-image {
  margin-bottom: 30px;
}


::ng-deep quill-editor .ql-container {
  font-family: 'Roboto';
}


.image-processing {
  font-size: 13px;
  margin-bottom: 10px;
}
