<edit-lessons-toolbar></edit-lessons-toolbar>

<div class="course-landing-page mat-elevation-z5">




    <div class="section-label">Course Image</div>

    <img class="course-image mat-elevation-z4"
         src="https://s3-us-west-1.amazonaws.com/angular-university/course-images/security-cover-small-v2.png">



  <mat-form-field>
    <mat-label>Course Title</mat-label>
    <input matInput>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Course Subtitle</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label> Short Description</mat-label>
    <input matInput>
  </mat-form-field>


  <div class="section-label">Long Description</div>

  <text-editor placeholder="Enter course description here..."></text-editor>

  <div class="form-buttons">

    <button mat-raised-button color="primary">Save</button>

  </div>

</div>
