<edit-lessons-toolbar></edit-lessons-toolbar>

<div class="course-landing-page mat-elevation-z5" *ngIf="(course$ | async) as course" [formGroup]="form">

  <div class="section-label">Choose Image</div>

  <editable-image class="course-image" [src]="thumbnailUrl(course)"
                  [imagePath]="imagesPath(course)">

  </editable-image>

  <mat-form-field>
    <mat-label>Course Title</mat-label>
    <input matInput formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Course Subtitle</mat-label>
    <input matInput formControlName="subTitle">
  </mat-form-field>

  <mat-form-field>
    <mat-label> Short Description</mat-label>
    <input matInput formControlName="shortDescription">
  </mat-form-field>

  <div class="section-label">Long Description</div>

  <text-editor placeholder="Enter course description here..."></text-editor>

  <div class="form-buttons">

    <button mat-raised-button color="primary" (click)="save(course)">Save</button>

  </div>

</div>
