
<edit-lessons-toolbar>

</edit-lessons-toolbar>


<div class="tab-container mat-elevation-z5" *ngIf="(course$ | async) as course">


  <messages></messages>

  <div class="section-label">Choose Image</div>

  <div class="image-processing" *ngIf="imageProcessingOngoing">(processing, 1 minute left ...)</div>

  <file-upload class="course-image mat-elevation-z4" [src]="course.thumbnail" [processing]="imageProcessingOngoing"
      height="150px" width="267px" accept="image/*" (fileSelected)="onFileSelected(course, $event)" >

  </file-upload>

  <div class="controls-form" [formGroup]="form">
    <mat-form-field>

      <mat-label>Course Title</mat-label>

      <input matInput
             placeholder="Course title (max 60 chars)"
             #titleHint
             maxLength="60"
             formControlName="title">

      <mat-hint align="end">
        {{titleHint.value.length}} / 60
      </mat-hint>

    </mat-form-field>

    <mat-form-field>

      <mat-label>Course Subtitle</mat-label>

      <input matInput
             placeholder="Course subtitle (max 125 chars)"
             #subtitleHint
             maxLength="125"
             formControlName="subTitle">

      <mat-hint align="end">
        {{subtitleHint.value.length}} / 125
      </mat-hint>

    </mat-form-field>

    <mat-form-field>

      <input matInput
             placeholder="Short description (max 98 chars)"
             #shortDescrHint
             maxLength="98"
             formControlName="shortDescription">

      <mat-hint align="end">
        {{shortDescrHint.value.length}} / 98
      </mat-hint>

    </mat-form-field>


    <mat-slide-toggle color="primary" formControlName="downloadAllowed">
       Download Allowed (Recommended)
    </mat-slide-toggle>


  </div>

  <div class="section-label">Long Description</div>

  <quill-editor
    [(ngModel)]="courseDescription"
    [modules]="editorConfig"
    [style]="{height: '500px'}"
    placeholder="Enter course description here...">

  </quill-editor>

  <div class="form-buttons">

    <button mat-raised-button color="accent" (click)="save(course.id)">Save</button>

  </div>

</div>
