

@import "../common";

.course-landing-page {
  display: flex;
  flex-direction: column;
  margin:10px;
  padding: 30px;
}


.course-image {
  max-width: 250px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.edit-image {
  display: inline;
}
