
@import "../vars";
@import "../mixins";


.course-landing-page {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  margin:10px;
  padding: 30px;
}

.controls-form {
  display: flex;
  flex-direction: column;

}


.course-image {
  margin-bottom: 30px;
}



.form-buttons button {
  margin-left: 10px;
}


:host app-ngx-editor ::ng-deep {
  color:$text;
  b {
    color:$dark-text;
  }
}
