
@import "../mixins";
@import "../vars";


.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black;
  position: relative;
}


.video {
  width: 100%;
}

.play-btn-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  @include mat-icon-size(150px);
}

.play-icon-button {
  cursor: pointer;
  color: $text;
}
