
<div class="video-container" (mousemove)="onMouseMove()">

  <div class="top-buttons" *ngIf="hoveringTimeout">

    <mat-icon class="control close"  title="Close Left Menu" (click)="closeMenu()" *ngIf="!fullSize">close</mat-icon>

    <mat-icon class="control open"  title="Open Left Menu" (click)="openMenu()" *ngIf="fullSize">menu</mat-icon>

    <div class="filler"></div>

    <mat-icon class="control exit" title="Exit to Course Screen" (click)="onExit()">exit_to_app</mat-icon>

  </div>

  <video #video class="video" [src]="url" (click)="toggle()">

  </video>

  <div class="video-btn-container" [@fadeOut] *ngIf="isPlayButtonVisible()" (click)="play()">
    <mat-icon class="noselect">play_circle_filled</mat-icon>
  </div>

  <div class="video-btn-container" [@fadeOut] *ngIf="isPauseButtonVisible()" (click)="pause()">
    <mat-icon class="noselect">pause_circle_filled</mat-icon>
  </div>

  <div class="filler"></div>

  <div class="bottom-buttons">

    <div class="progress-bat-container">
      <mat-progress-bar class="video-progress" mode="determinate" [value]="50"></mat-progress-bar>

      <span class="progress-label">0:50 / 4:50</span>

    </div>

    <div class="video-controls-container noselect">

      <div class="play-controls">

        <mat-icon class="control" (click)="play()" *ngIf="!this.videoPlaying">play_arrow</mat-icon>

        <mat-icon class="control" (click)="pause()" *ngIf="this.videoPlaying">pause</mat-icon>

        <mat-icon class="control" (click)="replay10()">replay_10</mat-icon>

        <mat-icon class="control" (click)="forward10()">forward_10</mat-icon>

      </div>

      <div class="filler"></div>

      <div class="other-controls">

        <mat-icon class="control">closed_caption</mat-icon>

        <mat-icon class="control">settings</mat-icon>

        <mat-icon class="control">volume_up</mat-icon>

        <mat-icon class="control">fullscreen</mat-icon>

      </div>


    </div>

  </div>

</div>

