
@import "../mixins";
@import "../vars";


:host {
  background: black;
}



.video-container {
  position: relative;
  display: flex;
}

.top-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 25px;
  z-index: 1;
}

.top-buttons .control {
  &.close {
    padding: 3px;
  }
}

.control {

  cursor: pointer;
  color: #fafafa;

  &:hover {
    color: white;
  }

}

.close {
  display: flex;
  background: $text;
  border-radius: 4px;
}

.close, .open {
  margin-left: 30px;
}

.close {
  padding: 2px;
}

.open {
  padding: 5px 10px;
}

.top-button-container {
  display: flex;
  background: $text;
  border-radius: 4px;
  @include mat-icon-size(40px);
  margin-right: 40px;
}


.video {
  width: 100%;
}

.video-btn-container {

  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  @include mat-icon-size(100px);
  z-index: 10;
  cursor: pointer;
  color: $text;
}

.bottom-buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: $text;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 1;
}

.progress-bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top:5px;

  ::ng-deep .mat-progress-bar {
    height: 8px;
  }
}

.video-progress {
  cursor: pointer;
}

.progress-label {
  flex-basis: 130px;
  text-align: center;
  font-weight: bold;
}

.video-controls-container {
  padding: 2px 20px;
  display: flex;

  .play-controls {
    display: flex;
    align-items: center;
    .control {
      margin-right: 5px;
    }
    @include mat-icon-size(40px);

    .speed-control {
      background: white;
      color: black;
      padding: 1px 4px;
      cursor: pointer;
      margin: 0 3px;
      border-radius: 4px;
      font-size: 13px;
      min-width: 38px;
      text-align: center;
    }

    .volume-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include mat-icon-size(35px);
      margin-left: 15px;
    }

    .volume-slider {

      ::ng-deep .mat-slider-thumb, ::ng-deep .mat-slider-track-fill, ::ng-deep .mat-slider-track-background {
        background-color: white;
      }

      min-width: 90px;
    }

  }

  .other-controls {
    display: flex;
    align-items: center;
    @include mat-icon-size(50px);
    .control {
      margin-left: 10px;
    }
  }

}


